openapi: 3.0.1
info:
  title: o9 Market Intelligence
  description: "# Introduction\no9 Market Intelligence is the digital situational awareness needed by digitally enabled businesses. It comprises the information about the consumer behaviour, market structure, cultural events as well as broad economic indicators. This intelligence supplements the internal data generated by operations. Using a 360 degree view of the business results in better decisions.\n\nYou can find out more at [o9 Solutions' Website](https://o9solutions.com/solutions/revenue/market-intelligence/)\n\n## Knowledge Hub\nThe Knowledge Hub is the web service that serves the data and knowledge models for o9 Market Intelligence. This document lists all the APIs of this web service. These APIs require an token that you should request from o9.\n\n## Authentication\nWe use Bearer authentication with the token signifier being 'ApiKey'. Contact your o9 partner to get your authentication token. The token should be sent in the 'Authorization' key of the HTTP header, formatted as under\n\n***Authorization :*** `ApiKey apikey.fromO9solutions`\n   \n## Filtering Results\nFilter conditions are specified in the form of a JSON object as a query parameter called 'filters'. Some example filters are listed below\n\n***Filter using dimension fields returned in the API***\n\n`[{ \"AttributeName\" : \"City\", \"Values\" : [\" Dallas : TX Dallas County\", \"Boston : MA Suffolk County\"] }]`\n\n***Filter using higher level grouping of the dimension fields [Refer to the respective dimension API]***\n\n`[{ \"AttributeName\" : \"Country\", \"Values\" : [\"USA\", \"NLD\"], \"DimensionName\" : \"Geo\" }]`\n\n***Filter using Named Sets [See list of valid values in the next section]***\n\n`[{ \"AttributeName\" : \"Day\", \"NamedSet\" : \"CurrentDay\" }]`\n\n***Filter using date ranges***\n\n`[{ \"AttributeName\":\"Day\", \"DateRanges\" : [{\"op\" : \">=\", \"value\" : \"2021-06-01\"},{\"op\" : \"<\", \"value\" : \"2021-06-03\"}], \"DimensionName\" : \"Time\" }]`\n\n***Multiple filter conditions***  \nThe filters object is an array of filter conditions. Multiple filters can be combined together for a more refined search. Some examples:\n\n- Specific values\n\n`[{ \"AttributeName\" : \"City\", \"Values\" : [\" Dallas : TX Dallas County\"] }, {\"AttributeName\" : \"Day\", \"NamedSet\" : \"CurrentDay\" }]`\n\n- Ranges\n\n`[{ \"AttributeName\" : \"Country\", \"Values\" : [\"USA\", \"NLD\"], \"DimensionName\" : \"Geo\" }, { \"AttributeName\":\"Day\", \"DateRanges\" : [{\"op\" : \">=\", \"value\" : \"2020-07-01\"}], \"DimensionName\" : \"Time\" }]`\n   \n## Named Sets\n\nThese are short-hand notations for some commonly used filters for the time dimension\n\n<table>\n<tbody>\n<tr>\n<td><strong>Named Set</strong></td>\n<td ><strong>Filter condition</strong></td>\n</tr>\n<tr>\r\n<td>CurrentMonth</td>\r\n<td>Data for the current calendar month</td>\r\n</tr>\r\n<tr>\r\n<td>LastYr-Next1mth</td>\r\n<td>The last 366 days plus the next 30</td>\r\n</tr>\r\n<tr>\r\n<td>Last2yrs</td>\r\n<td>The last 730 days starting today</td>\r\n</tr>\r\n<tr>\r\n<td>Last3yrs</td>\r\n<td>The last 1096 days including today</td>\r\n</tr>\r\n<tr>\r\n<td>Last3yrs+Next1mth</td>\r\n<td>The last 1096 days plus the next 30</td>\r\n</tr>\r\n<tr>\r\n<td>Last5yrs</td>\r\n<td>The last 1857 days starting today</td>\r\n</tr>\r\n<tr>\r\n<td>Last10yrs</td>\r\n<td>The last 120 months starting today</td>\r\n</tr>\r\n<tr>\r\n<td>Pandemic</td>\r\n<td>The period since February 2020</td>\r\n</tr>\n</tbody>\n</table>\n\n## Abbreviations and Initialisms\n\n***Wkly*** - Weekly\n\n***Mthly*** - Monthly\n\n***Qtrly*** - Quaterly\n\n***Yrly*** - Yearly\n\n***NSA*** - Not Seasonally Adjusted\n\n***SA*** - Seasonally Adjusted\n\n***SAAR*** - Seasonally Adjusted Annual Rate\n"
  version: Beta
  x-logo-url: https://o9designlab.com/wp-content/uploads/2020/08/Design-Lab_Brand-Guidelines_v3_assets_logo-1.svg
servers:
  - url: https://mysandbox.o9solutions.com/api/v2
    description: The Knowledge Hub webservice endpoint
paths:
  /master/MarketIntel/Age:
    summary: Age
    description: This dimension has the various age classes used in the data
    get:
      tags:
        - Demographic
      summary: Age (Dimension)
      description: "This dimension has the various age classes used in the data  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Ages:
                        type: array
                        items:
                          title: Age
                          type: object
                          properties:
                            Age:
                              type: string
                              description: (*Filterable dimensional attribute*) Age
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Brand:
    summary: Brand
    description: Information about the brand hierarchy
    get:
      tags:
        - Marketing
      summary: Brand (Dimension)
      description: "Information about the brand hierarchy  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Brands:
                        type: array
                        items:
                          title: Brand
                          type: object
                          properties:
                            Brand:
                              type: string
                              description: (*Filterable dimensional attribute*) Brand
                            BrandFamily:
                              type: string
                              description: (*Filterable dimensional attribute*) Brand Family
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Catalog:
    summary: Catalog
    description: These attributes are used to organize and filter the catalog entries
    get:
      tags:
        - Catalog
      summary: Catalog (Dimension)
      description: "These attributes are used to organize and filter the catalog entries  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Catalogs:
                        type: array
                        items:
                          title: Catalog
                          type: object
                          properties:
                            ContentCategory:
                              type: string
                              description: (*Filterable dimensional attribute*) Category of content
                            ContentItem:
                              type: string
                              description: (*Filterable dimensional attribute*) Knowledge Stream
                            ContentSource:
                              type: string
                              description: (*Filterable dimensional attribute*) Data Source
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Currency:
    summary: Currency
    description: The names of the currencies that are used in the data
    get:
      tags:
        - Common Models
      summary: Currency (Dimension)
      description: "The names of the currencies that are used in the data  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*. *There are properties attached to some attributes of this dimension which are only returned if the following condition(s) are specified in the `filters` array parameter*\n```\n[{\n\"AttributeName\": \"Currency\",   \n\"Properties\": [\"Currency Image\", \"Currency Locale\"]\n}]\n```"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Currencies:
                        type: array
                        items:
                          title: Currency
                          type: object
                          properties:
                            Currency:
                              type: string
                              description: '(*Filterable dimensional attribute*) Currency code [per ISO 4217]'
                            Currency Image:
                              description: 'Currency Image: A property of the ''*Currency*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Currency Locale:
                              description: 'Currency Locale: A property of the ''*Currency*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/EventCategory:
    summary: Event Category
    description: Weather events are classified by these categories of weather phenomena
    get:
      tags:
        - Weather
      summary: Event Category (Dimension)
      description: "Weather events are classified by these categories of weather phenomena  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      EventCategories:
                        type: array
                        items:
                          title: EventCategory
                          type: object
                          properties:
                            EventCategory:
                              type: string
                              description: (*Filterable dimensional attribute*) Category of event
                            EventCategoryAll:
                              type: string
                              description: (*Filterable dimensional attribute*) All event categories
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/EventSeverity:
    summary: Event Severity
    description: Weather events are classified by these severity levels
    get:
      tags:
        - Weather
      summary: Event Severity (Dimension)
      description: "Weather events are classified by these severity levels  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      EventSeverities:
                        type: array
                        items:
                          title: EventSeverity
                          type: object
                          properties:
                            EventSeverity:
                              type: string
                              description: (*Filterable dimensional attribute*) Severity of the event
                            EventSeverityAll:
                              type: string
                              description: (*Filterable dimensional attribute*) All severity levels
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Geo:
    summary: Geography
    description: This dimension has the administrative geography for each country in the database. Starting from the continent level and going down to the postal code level. Not all countries have the same level of detail.
    get:
      tags:
        - Common Models
      summary: Geography (Dimension)
      description: "This dimension has the administrative geography for each country in the database. Starting from the continent level and going down to the postal code level. Not all countries have the same level of detail.  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*. *There are properties attached to some attributes of this dimension which are only returned if the following condition(s) are specified in the `filters` array parameter*\n```\n[{\n\"AttributeName\": \"City\",   \n\"Properties\": [\"CityCentroidLat\", \"CityCentroidLng\"]\n}, {\n\"AttributeName\": \"Continent\",   \n\"Properties\": [\"ContinentFlag\"]\n}, {\n\"AttributeName\": \"Country\",   \n\"Properties\": [\"CountryCentroidLat\", \"CountryCentroidLng\", \"CountryFlag\", \"CountryLocale\"]\n}, {\n\"AttributeName\": \"County\",   \n\"Properties\": [\"CountyCentroidLat\", \"CountyCentroidLng\"]\n}, {\n\"AttributeName\": \"State\",   \n\"Properties\": [\"StateCentroidLat\", \"StateCentroidLng\"]\n}, {\n\"AttributeName\": \"Zip\",   \n\"Properties\": [\"ZipCentroidLat\", \"ZipCentroidLng\", \"ZipArea\"]\n}]\n```"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Geos:
                        type: array
                        items:
                          title: Geo
                          type: object
                          properties:
                            City:
                              type: string
                              description: (*Filterable dimensional attribute*) Name of the city
                            CityCentroidLat:
                              description: 'City Centroid Lat: A property of the ''*City*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CityCentroidLng:
                              description: 'City Centroid Lng: A property of the ''*City*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Continent:
                              type: string
                              description: (*Filterable dimensional attribute*) Name of continent
                            ContinentFlag:
                              description: 'Continent Flag: A property of the ''*Continent*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Country:
                              type: string
                              description: '(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1]'
                            CountryCentroidLat:
                              description: 'Country Centroid Lat: A property of the ''*Country*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CountryCentroidLng:
                              description: 'Country Centroid Lng: A property of the ''*Country*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CountryFlag:
                              description: 'Country Flag: A property of the ''*Country*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CountryLocale:
                              description: 'Country Locale: A property of the ''*Country*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            County:
                              type: string
                              description: (*Filterable dimensional attribute*) Name of County or Municipal Authority
                            CountyCentroidLat:
                              description: 'County Centroid Lat: A property of the ''*County*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CountyCentroidLng:
                              description: 'County Centroid Lng: A property of the ''*County*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            State:
                              type: string
                              description: '(*Filterable dimensional attribute*) Name of state / province / region as applicable '
                            StateCentroidLat:
                              description: 'State Centroid Lat: A property of the ''*State*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            StateCentroidLng:
                              description: 'State Centroid Lng: A property of the ''*State*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Zip:
                              type: string
                              description: (*Filterable dimensional attribute*) ZIP or Postal Code
                            ZipCentroidLat:
                              description: 'Zip Centroid Lat: A property of the ''*Zip*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            ZipCentroidLng:
                              description: 'Zip Centroid Lng: A property of the ''*Zip*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            ZipArea:
                              description: 'Zip Area: A property of the ''*Zip*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/HealthInsuranceType:
    summary: Type of Health Insurance
    description: 'Type of health insurance (Employer, Govt, Private, None, etc) that people have'
    get:
      tags:
        - Health
      summary: Type of Health Insurance (Dimension)
      description: "Type of health insurance (Employer, Govt, Private, None, etc) that people have  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      HealthInsuranceTypes:
                        type: array
                        items:
                          title: HealthInsuranceType
                          type: object
                          properties:
                            HealthInsuranceType:
                              type: string
                              description: '(*Filterable dimensional attribute*) Type of health insurance (Employer, Govt, Private, None, etc)'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Holidays:
    summary: Holidays
    description: This dimension has the list of holidays for which dates are available
    get:
      tags:
        - Cultural
      summary: Holidays (Dimension)
      description: "This dimension has the list of holidays for which dates are available  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Holidays:
                        type: array
                        items:
                          title: Holidays
                          type: object
                          properties:
                            HolidayName:
                              type: string
                              description: (*Filterable dimensional attribute*) Name of holiday (Alternate names are separate members)
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/ICD10:
    summary: Disease Classification (ICD 10)
    description: The data on morbidity (where public) as well as causes of mortality are organized by the ICD 10 classification
    get:
      tags:
        - Health
      summary: Disease Classification (ICD 10) (Dimension)
      description: "The data on morbidity (where public) as well as causes of mortality are organized by the ICD 10 classification  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      ICD10:
                        type: array
                        items:
                          title: ICD10
                          type: object
                          properties:
                            DiseaseCode:
                              type: string
                              description: (*Filterable dimensional attribute*) Disease code per ICD 10 Classification
                            DiseaseGroup:
                              type: string
                              description: (*Filterable dimensional attribute*) Disease group per ICD 10 Classification
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Industry:
    summary: Industry
    description: This dimension has all the attributes and levels to organize data by industry. We use NAICS classification ontology as well as identifiers.
    get:
      tags:
        - Common Models
      summary: Industry (Dimension)
      description: "This dimension has all the attributes and levels to organize data by industry. We use NAICS classification ontology as well as identifiers.  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*. *There are properties attached to some attributes of this dimension which are only returned if the following condition(s) are specified in the `filters` array parameter*\n```\n[{\n\"AttributeName\": \"CompanyFacility\",   \n\"Properties\": [\"CompanyFacilityAdditionalNotes\", \"Latitude\", \"CompanyFacilityLinkedRDC\", \"Longitude\", \"CompanyFacilityParentCompany\", \"CompanyFacilityRetailerCategory\", \"CompanyFacilityRowstoscrape\", \"CompanyFacilityScrapeId\", \"CompanyFacilityAddress\", \"CompanyFacilityFormat\", \"CompanyFacilityId\", \"CompanyFacilityKey\", \"CompanyFacilityURL\"]\n}]\n```"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Industries:
                        type: array
                        items:
                          title: Industry
                          type: object
                          properties:
                            Company:
                              type: string
                              description: (*Filterable dimensional attribute*) Name of the company
                            CompanyFacility:
                              type: string
                              description: (*Filterable dimensional attribute*) Store/Warehouse/etc
                            CompanyFacilityAdditionalNotes:
                              description: 'Company Facility Additional Notes: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Latitude:
                              description: 'Latitude: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityLinkedRDC:
                              description: 'Company Facility Linked RDC: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Longitude:
                              description: 'Longitude: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityParentCompany:
                              description: 'Company Facility Parent Company: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityRetailerCategory:
                              description: 'Company Facility Retailer Category: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityRowstoscrape:
                              description: 'Company Facility Rowstoscrape: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityScrapeId:
                              description: 'Company Facility Scrape Id: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityAddress:
                              description: 'Company Facility Address: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityFormat:
                              description: 'Company Facility Format: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityId:
                              description: 'Company Facility Id: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityKey:
                              description: 'Company Facility Key: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityURL:
                              description: 'Company Facility URL: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityBatchID:
                              type: string
                              description: (*Filterable dimensional attribute*) Description of Company Facility Batch ID
                            IndustryGroup:
                              type: string
                              description: (*Filterable dimensional attribute*) Industry Group
                            Sector:
                              type: string
                              description: (*Filterable dimensional attribute*) Industry Sector
                            Subsector:
                              type: string
                              description: (*Filterable dimensional attribute*) Industry Subsector
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Location:
    summary: Location
    description: Locations are used as keys for geospatial data. They have the necessary information needed to plot them on charts.
    get:
      tags:
        - Common Models
      summary: Location (Dimension)
      description: "Locations are used as keys for geospatial data. They have the necessary information needed to plot them on charts.  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*. *There are properties attached to some attributes of this dimension which are only returned if the following condition(s) are specified in the `filters` array parameter*\n```\n[{\n\"AttributeName\": \"Location\",   \n\"Properties\": [\"Latitude\", \"LocationType\", \"Longitude\"]\n}]\n```"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Locations:
                        type: array
                        items:
                          title: Location
                          type: object
                          properties:
                            Location:
                              type: string
                              description: (*Filterable dimensional attribute*) Name of location
                            Latitude:
                              description: 'Latitude: A property of the ''*Location*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            LocationType:
                              description: 'Location Type: A property of the ''*Location*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Longitude:
                              description: 'Longitude: A property of the ''*Location*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Product:
    summary: Product
    description: The product hierarchy has the generic hierarchies that are based on the NAPCS classification
    get:
      tags:
        - Common Models
      summary: Product (Dimension)
      description: "The product hierarchy has the generic hierarchies that are based on the NAPCS classification  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*. *There are properties attached to some attributes of this dimension which are only returned if the following condition(s) are specified in the `filters` array parameter*\n```\n[{\n\"AttributeName\": \"SKU\",   \n\"Properties\": [\"SKUProductImage\"]\n}]\n```"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Products:
                        type: array
                        items:
                          title: Product
                          type: object
                          properties:
                            Category:
                              type: string
                              description: (*Filterable dimensional attribute*) Category
                            CategoryDivision:
                              type: string
                              description: (*Filterable dimensional attribute*) Category Division
                            CategoryGroup:
                              type: string
                              description: (*Filterable dimensional attribute*) Category Group
                            CategorySection:
                              type: string
                              description: (*Filterable dimensional attribute*) Category Section
                            CategorySubgroup:
                              type: string
                              description: (*Filterable dimensional attribute*) Category Subgroup
                            CategorySubsection:
                              type: string
                              description: (*Filterable dimensional attribute*) Category Subsection
                            SKU:
                              type: string
                              description: (*Filterable dimensional attribute*) Product UPC
                            SKUProductImage:
                              description: 'SKU Product Image: A property of the ''*SKU*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Race:
    summary: Race
    description: Race related data use the attributes listed in this dimension
    get:
      tags:
        - Consumer Metrics
      summary: Race (Dimension)
      description: "Race related data use the attributes listed in this dimension  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Races:
                        type: array
                        items:
                          title: Race
                          type: object
                          properties:
                            Race:
                              type: string
                              description: (*Filterable dimensional attribute*) Race
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Sports:
    summary: Sports
    description: These are sporting events for which data are available
    get:
      tags:
        - Cultural
      summary: Sports (Dimension)
      description: "These are sporting events for which data are available  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Sports:
                        type: array
                        items:
                          title: Sports
                          type: object
                          properties:
                            Sports:
                              type: string
                              description: (*Filterable dimensional attribute*) Sporting Events
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/SportsTeam:
    summary: Sports Team
    description: Data on matches between teams for select sporting events are available. The teams are listed in this dimension.
    get:
      tags:
        - Cultural
      summary: Sports Team (Dimension)
      description: "Data on matches between teams for select sporting events are available. The teams are listed in this dimension.  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      SportsTeams:
                        type: array
                        items:
                          title: SportsTeam
                          type: object
                          properties:
                            SportsTeam:
                              type: string
                              description: (*Filterable dimensional attribute*) Sports Team
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/SportTournament:
    summary: Sports Tournaments
    description: This dimension lists the well attended sports tournaments for which data are available.
    get:
      tags:
        - Cultural
      summary: Sports Tournaments (Dimension)
      description: "This dimension lists the well attended sports tournaments for which data are available.  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      SportTournaments:
                        type: array
                        items:
                          title: SportTournament
                          type: object
                          properties:
                            SportTournament:
                              type: string
                              description: (*Filterable dimensional attribute*) Tournament
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Time:
    summary: Time
    description: 'The dimension is the most fundamental of dimensions used to key and filter data. In addition to range based filtering there are also predefined filters that you can use for this dimension. [See section on ''Named Sets'' in the overview section of this document]'
    get:
      tags:
        - Common Models
      summary: Time (Dimension)
      description: "The dimension is the most fundamental of dimensions used to key and filter data. In addition to range based filtering there are also predefined filters that you can use for this dimension. [See section on 'Named Sets' in the overview section of this document]  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Times:
                        type: array
                        items:
                          title: Time
                          type: object
                          properties:
                            Day:
                              type: string
                              description: (*Filterable dimensional attribute*) Day
                              format: YYYY-MM-DD
                            Month:
                              type: string
                              description: (*Filterable dimensional attribute*) Month
                              format: YYYY-MM-DD
                            Quarter:
                              type: string
                              description: (*Filterable dimensional attribute*) Quarter
                              format: YYYY-MM-DD
                            Week:
                              type: number
                              description: (*Filterable dimensional attribute*) Week
                            Year:
                              type: string
                              description: (*Filterable dimensional attribute*) Year
                              format: YYYY-MM-DD
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Vaccine:
    summary: Vaccination
    description: Vaccination data uses dimension
    get:
      tags:
        - Health
      summary: Vaccination (Dimension)
      description: "Vaccination data uses dimension  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Vaccines:
                        type: array
                        items:
                          title: Vaccine
                          type: object
                          properties:
                            Vaccine:
                              type: string
                              description: (*Filterable dimensional attribute*) Description of Vaccine
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/AmenitiesCountyYearly:
    summary: Social Amenities
    description: These are measures of proximity to social amenities
    get:
      tags:
        - Social Infrastructure
      summary: Social Amenities
      description: These are measures of proximity to social amenities
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      AmenitiesCountyYearlies:
                        type: array
                        items:
                          title: AmenitiesCountyYearly
                          type: object
                          properties:
                            County:
                              type: integer
                              description: "(*Filterable dimensional attribute*) Name of County or Municipal Authority.  \n<br/>*See 'Geography (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Year:
                              type: string
                              description: "(*Filterable dimensional attribute*) Year.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            DistDoctor:
                              type: number
                              description: Distance to nearest Doctor (kms)
                            DistSchool:
                              type: number
                              description: Distance to nearest School (kms)
                            DistSupermkt:
                              type: number
                              description: Distance to nearest Supermarket (kms)
                            SchoolsWithin3km:
                              type: number
                              description: Average numbere of schools within 3 kms
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/AppleMobilityCountry:
    summary: Mobility
    description: 'These are data made available by Apple Inc. They provide changes from baseline levels for select countries.  Countries covered include USA, BEL, NLD, BRA, ARE, AUS, BGR, CAN, CHE, CHL, CZE, DEU, DNK, EGY, ESP, EST, FIN, FRA, GBR, GRC, HRV, HUN, IDN, IND, IRL, ISR, ITA, JPN, KHM, LTU, LVA, MEX, MYS, NOR, NZL, PHL, POL, PRT, ROU, SAU, SVK, SVN, SWE, TUR, URY, VNM, ZAF, ALB, HKG, ISL, KOR, LUX, MAC, MAR, SGP, SRB, THA, TWN, UKR, ARG, AUT, COL, RUS'
    get:
      tags:
        - Mobility
      summary: Mobility
      description: 'These are data made available by Apple Inc. They provide changes from baseline levels for select countries.  Countries covered include USA, BEL, NLD, BRA, ARE, AUS, BGR, CAN, CHE, CHL, CZE, DEU, DNK, EGY, ESP, EST, FIN, FRA, GBR, GRC, HRV, HUN, IDN, IND, IRL, ISR, ITA, JPN, KHM, LTU, LVA, MEX, MYS, NOR, NZL, PHL, POL, PRT, ROU, SAU, SVK, SVN, SWE, TUR, URY, VNM, ZAF, ALB, HKG, ISL, KOR, LUX, MAC, MAR, SGP, SRB, THA, TWN, UKR, ARG, AUT, COL, RUS'
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      AppleMobilityCountries:
                        type: array
                        items:
                          title: AppleMobilityCountry
                          type: object
                          properties:
                            Country:
                              type: integer
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geography (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Day:
                              type: string
                              description: "(*Filterable dimensional attribute*) Day.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            AppleMobilityDriving:
                              type: number
                              description: 'Mobility data from Apple : Driving patterns during the pandemic for countries. '
                            AppleMobilityTransit:
                              type: number
                              description: 'Mobility data from Apple : Transit system traffice during the pandemic for countries.'
                            AppleMobilityWalking:
                              type: number
                              description: 'Mobility data from Apple : Walking activity during the pandemic for countries.'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/Assortment:
    summary: Marketing
    description: The product price and promotions
    get:
      tags:
        - Branded Commerce
      summary: Marketing
      description: The product price and promotions
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Assortments:
                        type: array
                        items:
                          title: Assortment
                          type: object
                          properties:
                            Zip:
                              type: integer
                              description: "(*Filterable dimensional attribute*) ZIP or Postal Code.  \n<br/>*See 'Geography (Dimension)' in this document for the other attributes that might be used for filtering*"
                            BasePrice:
                              type: number
                              description: Base price of the product
                            ProductName:
                              type: string
                              description: Name of product
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/CatalogProp:
    summary: Data Catalog
    description: List of all datasets with their related metadata fields
    get:
      tags:
        - Catalog
      summary: Data Catalog
      description: List of all datasets with their related metadata fields
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CatalogProps:
                        type: array
                        items:
                          title: CatalogProp
                          type: object
                          properties:
                            ContentItem:
                              type: integer
                              description: "(*Filterable dimensional attribute*) Knowledge Stream.  \n<br/>*See 'Catalog (Dimension)' in this document for the other attributes that might be used for filtering*"
                            ContentCitation:
                              type: string
                              description: Description of Content Citation
                            ContentCitationText:
                              type: string
                              description: Description of Content Citation Text
                            ContentDataOrigin:
                              type: string
                              description: Source of data
                            ContentDimensionName:
                              type: string
                              description: Internal use only
                            ContentEndDate:
                              type: string
                              description: Date of last observation available for this data source
                              format: YYYY-MM-DD
                            ContentExchangeRateType:
                              type: string
                              description: 'Exchange rate used, if the data element is a monetary measure'
                            ContentFactor:
                              type: number
                              description: Internal use only
                            ContentFilter:
                              type: string
                              description: Internal use only
                            ContentFrequency:
                              type: string
                              description: The frequency with with observations are made
                            ContentGeoCity:
                              type: string
                              description: The city for the which the data are available (as defined in the ContentGeoType)
                            ContentGeoCountry:
                              type: string
                              description: The country for the which the data are available (as defined in the ContentGeoType)
                            ContentGeoCounty:
                              type: string
                              description: The county for the which the data are available (as defined in the ContentGeoType)
                            ContentGeoState:
                              type: string
                              description: The state for the which the data are available (as defined in the ContentGeoType)
                            ContentGeoType:
                              type: string
                              description: 'The geographic administrative level for which the data are available '
                            ContentGeoZip:
                              type: string
                              description: The postal code for which the data are available (as defined in the ContentGeoType)
                            ContentIsCurrencyType:
                              type: number
                              description: Internal use only
                            ContentLastUpdated:
                              type: string
                              description: Description of Content Last Updated
                              format: YYYY-MM-DD
                            ContentLongDescription:
                              type: string
                              description: Description of the data measure
                            ContentMeasureGroup:
                              type: string
                              description: The resource name that contains this data measure. Please look up this name in our API documentation.
                            ContentMeasureLS:
                              type: string
                              description: Description of Content Measure LS
                            ContentMeasureName:
                              type: string
                              description: The field name that contains this data measure. Please look up this name (as well the API resource) in our API documentation.
                            ContentNAICSLevel2:
                              type: string
                              description: Additional grain for indicating relevant industry for the driver data (as per NAICS hierarchy)
                            ContentPlan:
                              type: string
                              description: Internal use only
                            ContentRawFile:
                              type: string
                              description: Internal use only
                            ContentScript:
                              type: string
                              description: Name of the script that populates this data
                            ContentSeasonalAdjustmentAllowed:
                              type: number
                              description: Whether seasonality has to be adjusted (for use in Driver Selection tool)
                            ContentSeasonality:
                              type: string
                              description: Seasonality of the data
                            ContentSeriesID:
                              type: string
                              description: Unique ID to identify the indicator on the source database. Used as input param for the scripts to get data
                            ContentStartDate:
                              type: string
                              description: Date of first observation available for this data source
                              format: YYYY-MM-DD
                            ContentTrendAdjustmentAllowed:
                              type: number
                              description: Whether trend has to be adjusted (for use in Driver Selection tool)
                            ContentUnits:
                              type: string
                              description: Unit of Measure of the data
                            ContentURL:
                              type: string
                              description: Website/section to access data on the source database
                            Count:
                              type: number
                              description: Internal use only
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/CommodityIndexAgriRawMaterials:
    summary: Agri Materials
    description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
    get:
      tags:
        - Commodities
      summary: Agri Materials
      description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CommodityIndexAgriRawMaterials:
                        type: array
                        items:
                          title: CommodityIndexAgriRawMaterials
                          type: object
                          properties:
                            Country:
                              type: integer
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geography (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Month:
                              type: string
                              description: "(*Filterable dimensional attribute*) Month.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            AgriRawMaterials:
                              type: number
                              description: 'Agricultural Raw Materials [Index - 2016=100]'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/CommodityIndexCerealsMonthly:
    summary: Grains
    description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
    get:
      tags:
        - Commodities
      summary: Grains
      description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CommodityIndexCerealsMonthlies:
                        type: array
                        items:
                          title: CommodityIndexCerealsMonthly
                          type: object
                          properties:
                            Country:
                              type: integer
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geography (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Month:
                              type: string
                              description: "(*Filterable dimensional attribute*) Month.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            Barley:
                              type: number
                              description: 'Barley [Index - 2016=100]'
                            Cereal:
                              type: number
                              description: 'Cereal [Index - 2016=100]'
                            Corn:
                              type: number
                              description: 'Corn [Index - 2016=100]'
                            Oats:
                              type: number
                              description: 'Oats [Index - 2016=100]'
                            RiceThailand:
                              type: number
                              description: 'Thailand Rice [Index - 2016=100]'
                            Sorghum:
                              type: number
                              description: 'Sorghum [Index - 2016=100]'
                            Wheat:
                              type: number
                              description: 'Wheat [Index - 2016=100]'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/CommodityIndexClothingMonthly:
    summary: Fibers
    description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
    get:
      tags:
        - Commodities
      summary: Fibers
      description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CommodityIndexClothingMonthlies:
                        type: array
                        items:
                          title: CommodityIndexClothingMonthly
                          type: object
                          properties:
                            Country:
                              type: integer
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geography (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Month:
                              type: string
                              description: "(*Filterable dimensional attribute*) Month.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            Cotton:
                              type: number
                              description: 'Cotton [Index - 2016=100]'
                            Wool:
                              type: number
                              description: 'Wool [Index - 2016=100]'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/CommodityIndexDairyMonthly:
    summary: Dairy
    description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
    get:
      tags:
        - Commodities
      summary: Dairy
      description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CommodityIndexDairyMonthlies:
                        type: array
                        items:
                          title: CommodityIndexDairyMonthly
                          type: object
                          properties:
                            Country:
                              type: integer
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geography (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Month:
                              type: string
                              description: "(*Filterable dimensional attribute*) Month.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            Milk:
                              type: number
                              description: 'Milk [Index - 2016=100]'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/CommodityIndexEdibleOilsMonthly:
    summary: Edible Oils
    description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
    get:
      tags:
        - Commodities
      summary: Edible Oils
      description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CommodityIndexEdibleOilsMonthlies:
                        type: array
                        items:
                          title: CommodityIndexEdibleOilsMonthly
                          type: object
                          properties:
                            Country:
                              type: integer
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geography (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Month:
                              type: string
                              description: "(*Filterable dimensional attribute*) Month.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            OliveOil:
                              type: number
                              description: 'Olive Oil [Index - 2016=100]'
                            PalmOil:
                              type: number
                              description: 'Palm Oil [Index - 2016=100]'
                            SoybeanOil:
                              type: number
                              description: 'Soybean Oil [Index - 2016=100]'
                            SunflowerOil:
                              type: number
                              description: 'Sunflower Oil [Index - 2016=100]'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/CommodityIndexEnergyMonthly:
    summary: Energy - Gas
    description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
    get:
      tags:
        - Commodities
      summary: Energy - Gas
      description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CommodityIndexEnergyMonthlies:
                        type: array
                        items:
                          title: CommodityIndexEnergyMonthly
                          type: object
                          properties:
                            Country:
                              type: integer
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geography (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Month:
                              type: string
                              description: "(*Filterable dimensional attribute*) Month.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            LNGAsia:
                              type: number
                              description: 'LNG Asia [Index - 2016=100]'
                            NaturalGas:
                              type: number
                              description: 'Natural Gas [Index - 2016=100]'
                            NaturalGasEU:
                              type: number
                              description: 'LNG EU [Index - 2016=100]'
                            Propane:
                              type: number
                              description: 'Propane [Index - 2016=100]'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/CommodityIndexFertilizersMonthly:
    summary: Fertilizer
    description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
    get:
      tags:
        - Commodities
      summary: Fertilizer
      description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CommodityIndexFertilizersMonthlies:
                        type: array
                        items:
                          title: CommodityIndexFertilizersMonthly
                          type: object
                          properties:
                            Country:
                              type: integer
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geography (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Month:
                              type: string
                              description: "(*Filterable dimensional attribute*) Month.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            DiammoniumPhosphate:
                              type: number
                              description: 'Diammonium Phosphate [Index - 2016=100]'
                            Fertilizer:
                              type: number
                              description: 'Fertilizer [Index - 2016=100]'
                            PotassiumFertilizer:
                              type: number
                              description: 'Potassium Fertilizer [Index - 2016=100]'
                            Urea:
                              type: number
                              description: 'Urea [Index - 2016=100]'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/CommodityIndexFoodnBeveragesMonthly:
    summary: Beverages
    description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
    get:
      tags:
        - Commodities
      summary: Beverages
      description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CommodityIndexFoodnBeveragesMonthlies:
                        type: array
                        items:
                          title: CommodityIndexFoodnBeveragesMonthly
                          type: object
                          properties:
                            Country:
                              type: integer
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geography (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Month:
                              type: string
                              description: "(*Filterable dimensional attribute*) Month.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            Beverages:
                              type: number
                              description: 'Beverages [Index - 2016=100]'
                            Coffee:
                              type: number
                              description: 'Coffee [Index - 2016=100]'
                            CoffeeMildArabica:
                              type: number
                              description: 'Coffee Mild Arabica [Index - 2016=100]'
                            CoffeeRobustas:
                              type: number
                              description: 'Coffee Robustas [Index - 2016=100]'
                            Food:
                              type: number
                              description: 'Food (All) [Index - 2016=100]'
                            FoodnBeverage:
                              type: number
                              description: 'Food & Beverage [Index - 2016=100]'
                            TeaKenyan:
                              type: number
                              description: 'Tea Kenyan [Index - 2016=100]'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/CommodityIndexFruitsnNutsMonthly:
    summary: Fruits
    description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
    get:
      tags:
        - Commodities
      summary: Fruits
      description: 'These are price indices for the commodities listed below. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100.'
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CommodityIndexFruitsnNutsMonthlies:
                        type: array
                        items:
                          title: CommodityIndexFruitsnNutsMonthly
                          type: object
                          properties:
                            Country:
                              type: integer
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geography (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Month:
                              type: string
                              description: "(*Filterable dimensional attribute*) Month.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            Apple:
                              type: number
                              description: 'Apples [Index - 2016=100]'
                            Bananas:
                              type: number
[...]
