openapi: 3.0.1
info:
  title: o9 Market Intelligence
  description: "# Introduction\no9 Market Intelligence is the digital situational awareness needed by digitally enabled businesses. It comprises the information about the consumer behaviour, market structure, cultural events as well as broad economic indicators. This intelligence supplements the internal data generated by operations. Using a 360 degree view of the business results in better decisions.\n\nYou can find out more at [o9 Solutions' Website](https://o9solutions.com/solutions/revenue/market-intelligence/)\n\n## Knowledge Hub\nThe Knowledge Hub is the web service that serves the data and knowledge models for o9 Market Intelligence. This document lists all the APIs of this web service. These APIs require an token that you should request from o9.\n\n## Authentication\nWe use Bearer authentication with the token signifier being 'ApiKey'. Contact your o9 partner to get your authentication token. The token should be sent in the 'Authorization' key of the HTTP header, formatted as under\n\n***Authorization :*** `ApiKey apikey.fromO9solutions`\n   \n## Filtering Results\nFilter conditions are specified in the form of a JSON object as a query parameter called 'filters'. Some example filters are listed below\n\n***Filter using dimension fields returned in the API***\n\n`[{ \"AttributeName\" : \"City\", \"Values\" : [\" Dallas : TX Dallas County\", \"Boston : MA Suffolk County\"] }]`\n\n***Filter using higher level grouping of the dimension fields [Refer to the respective dimension API]***\n\n`[{ \"AttributeName\" : \"Country\", \"Values\" : [\"USA\", \"NLD\"], \"DimensionName\" : \"Geo\" }]`\n\n***Filter using Named Sets [See list of valid values in the next section]***\n\n`[{ \"AttributeName\" : \"Day\", \"NamedSet\" : \"CurrentDay\" }]`\n\n***Filter using date ranges***\n\n`[{ \"AttributeName\":\"Day\", \"DateRanges\" : [{\"op\" : \">=\", \"value\" : \"2021-06-01\"},{\"op\" : \"<\", \"value\" : \"2021-06-03\"}], \"DimensionName\" : \"Time\" }]`\n\n***Multiple filter conditions***  \nThe filters object is an array of filter conditions. Multiple filters can be combined together for a more refined search. Some examples:\n\n- Specific values\n\n`[{ \"AttributeName\" : \"City\", \"Values\" : [\" Dallas : TX Dallas County\"] }, {\"AttributeName\" : \"Day\", \"NamedSet\" : \"CurrentDay\" }]`\n\n- Ranges\n\n`[{ \"AttributeName\" : \"Country\", \"Values\" : [\"USA\", \"NLD\"], \"DimensionName\" : \"Geo\" }, { \"AttributeName\":\"Day\", \"DateRanges\" : [{\"op\" : \">=\", \"value\" : \"2020-07-01\"}], \"DimensionName\" : \"Time\" }]`\n   \n## Named Sets\n\nThese are short-hand notations for some commonly used filters for the time dimension\n\n<table>\n<tbody>\n<tr>\n<td><strong>Named Set</strong></td>\n<td ><strong>Filter condition</strong></td>\n</tr>\n<tr>\n<td>CurrentMonth</td>\n<td>Data for the current calendar month</td>\n</tr>\n<tr>\n<td>LastYr-Next1mth</td>\n<td>The last 366 days plus the next 30</td>\n</tr>\n<tr>\n<td>Last2yrs</td>\n<td>The last 730 days starting today</td>\n</tr>\n<tr>\n<td>Last3yrs</td>\n<td>The last 1096 days including today</td>\n</tr>\n<tr>\n<td>Last3yrs-Next1mth</td>\n<td>The last 1096 days plus the next 30</td>\n</tr>\n<tr>\n<td>Last5yrs</td>\n<td>The last 1857 days starting today</td>\n</tr>\n<tr>\n<td>Last10yrs</td>\n<td>The last 120 months starting today</td>\n</tr>\n<tr>\n<td>Pandemic</td>\n<td>The period since February 2020</td>\n</tr>\n</tbody>\n</table>\n\n## Abbreviations and Initialisms\n\n***Wkly*** - Weekly\n\n***Mthly*** - Monthly\n\n***Qtrly*** - Quaterly\n\n***Yrly*** - Yearly\n\n***NSA*** - Not Seasonally Adjusted\n\n***SA*** - Seasonally Adjusted\n\n***SAAR*** - Seasonally Adjusted Annual Rate\n"
  version: Beta
  x-logo-url: https://o9designlab.com/wp-content/uploads/2020/08/Design-Lab_Brand-Guidelines_v3_assets_logo-1.svg
servers:
  - url: https://marketintel.trial.o9solutions.com/api/v2
    description: The Knowledge Hub webservice endpoint
paths:
  /master/MarketIntel/Age:
    summary: Age
    description: This dimension has the various age classes used in the data
    get:
      tags:
        - Consumer Metrics
      summary: Age (Dimension)
      description: "This dimension has the various age classes used in the data  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Ages:
                        type: array
                        items:
                          title: Age
                          type: object
                          properties:
                            Age:
                              type: string
                              description: (*Filterable dimensional attribute*) Age
                            AgeClass:
                              type: string
                              description: (*Filterable dimensional attribute*) Age class
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Brand:
    summary: Brand
    description: Information about the brand hierarchy
    get:
      tags:
        - Branded Commerce
      summary: Brand (Dimension)
      description: "Information about the brand hierarchy  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*. *There are properties attached to some attributes of this dimension which are only returned if the following condition(s) are specified in the `filters` array parameter*\n```\n[{\n\"AttributeName\": \"Brand\",   \n\"Properties\": [\"ParentCompany\"]\n}, {\n\"AttributeName\": \"GTIN\",   \n\"Properties\": [\"Quantity\", \"QuantityUOM\", \"QuantityValue\"]\n}]\n```"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Brands:
                        type: array
                        items:
                          title: Brand
                          type: object
                          properties:
                            Brand:
                              type: string
                              description: (*Filterable dimensional attribute*) Brand
                            ParentCompany:
                              description: 'Parent Company: A property of the ''*Brand*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            BrandFamily:
                              type: string
                              description: (*Filterable dimensional attribute*) Brand Family
                            GTIN:
                              type: string
                              description: (*Filterable dimensional attribute*) Global Trade Item Number
                            Quantity:
                              description: 'Quantity: A property of the ''*GTIN*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            QuantityUOM:
                              description: 'Quantity UOM: A property of the ''*GTIN*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            QuantityValue:
                              description: 'Quantity Value: A property of the ''*GTIN*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Catalog:
    summary: Catalog
    description: These attributes are used to organize and filter the catalog entries
    get:
      tags:
        - Catalog
      summary: Catalog (Dimension)
      description: "These attributes are used to organize and filter the catalog entries  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*. *There are properties attached to some attributes of this dimension which are only returned if the following condition(s) are specified in the `filters` array parameter*\n```\n[{\n\"AttributeName\": \"ContentOwner\",   \n\"Properties\": [\"ContentOwnerURL\"]\n}, {\n\"AttributeName\": \"ContentSource\",   \n\"Properties\": [\"ContentSourceURL\"]\n}]\n```"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Catalogs:
                        type: array
                        items:
                          title: Catalog
                          type: object
                          properties:
                            ContentCategory:
                              type: string
                              description: (*Filterable dimensional attribute*) Category of content
                            ContentItem:
                              type: string
                              description: (*Filterable dimensional attribute*) Knowledge Stream
                            ContentOwner:
                              type: string
                              description: (*Filterable dimensional attribute*) Data Owner
                            ContentOwnerURL:
                              description: 'Content Owner URL: A property of the ''*ContentOwner*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            ContentSource:
                              type: string
                              description: (*Filterable dimensional attribute*) Data Source
                            ContentSourceURL:
                              description: 'Content Source URL: A property of the ''*ContentSource*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Currency:
    summary: Currency
    description: The names of the currencies that are used in the data
    get:
      tags:
        - Common Models
      summary: Currency (Dimension)
      description: "The names of the currencies that are used in the data  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*. *There are properties attached to some attributes of this dimension which are only returned if the following condition(s) are specified in the `filters` array parameter*\n```\n[{\n\"AttributeName\": \"Currency\",   \n\"Properties\": [\"Currency Image\", \"Currency Locale\"]\n}]\n```"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Currencies:
                        type: array
                        items:
                          title: Currency
                          type: object
                          properties:
                            Currency:
                              type: string
                              description: '(*Filterable dimensional attribute*) Currency code [per ISO 4217]'
                            Currency Image:
                              description: 'Currency Image: A property of the ''*Currency*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Currency Locale:
                              description: 'Currency Locale: A property of the ''*Currency*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/EventCategory:
    summary: EventCategory
    description: Weather events are classified by these categories of weather phenomena
    get:
      tags:
        - Weather
      summary: EventCategory (Dimension)
      description: "Weather events are classified by these categories of weather phenomena  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      EventCategories:
                        type: array
                        items:
                          title: EventCategory
                          type: object
                          properties:
                            ExtremeWeatherCategory:
                              type: string
                              description: (*Filterable dimensional attribute*) Weather events are classified by these categories of weather phenomena
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Geo:
    summary: Geo
    description: This dimension has the administrative geography for each country in the database. Starting from the continent level and going down to the postal code level. Not all countries have the same level of detail.
    get:
      tags:
        - Common Models
      summary: Geo (Dimension)
      description: "This dimension has the administrative geography for each country in the database. Starting from the continent level and going down to the postal code level. Not all countries have the same level of detail.  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*. *There are properties attached to some attributes of this dimension which are only returned if the following condition(s) are specified in the `filters` array parameter*\n```\n[{\n\"AttributeName\": \"City\",   \n\"Properties\": [\"CityLocale\", \"IsMajor\", \"IsPort\", \"CityCentroidLat\", \"CityCentroidLng\"]\n}, {\n\"AttributeName\": \"Continent\",   \n\"Properties\": [\"ContinentFlag\"]\n}, {\n\"AttributeName\": \"Country\",   \n\"Properties\": [\"CountryFlag\", \"CountryLocale\", \"CountryCentroidLat\", \"CountryCentroidLng\"]\n}, {\n\"AttributeName\": \"CountrySubregion\",   \n\"Properties\": [\"CountrySubregionLocale\"]\n}, {\n\"AttributeName\": \"County\",   \n\"Properties\": [\"CountyCentroidLat\", \"CountyCentroidLng\", \"CountyCode\", \"CountyLocale\"]\n}, {\n\"AttributeName\": \"State\",   \n\"Properties\": [\"StateCentroidLat\", \"StateCentroidLng\", \"StateCode\", \"StateLocale\"]\n}, {\n\"AttributeName\": \"StateSubregion\",   \n\"Properties\": [\"StateSubregionCode\", \"StateSubregionLocale\"]\n}, {\n\"AttributeName\": \"Volcano\",   \n\"Properties\": [\"Latitude\", \"Longitude\", \"VolcanoName\"]\n}, {\n\"AttributeName\": \"Zip\",   \n\"Properties\": [\"ZipCentroidLat\", \"ZipCentroidLng\", \"ZipArea\", \"ZipLocale\"]\n}]\n```"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Geos:
                        type: array
                        items:
                          title: Geo
                          type: object
                          properties:
                            City:
                              type: string
                              description: (*Filterable dimensional attribute*) Name of the city
                            CityLocale:
                              description: 'City Locale: A property of the ''*City*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            IsMajor:
                              description: 'Is Major: A property of the ''*City*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            IsPort:
                              description: 'Is Port: A property of the ''*City*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CityCentroidLat:
                              description: 'City Centroid Lat: A property of the ''*City*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CityCentroidLng:
                              description: 'City Centroid Lng: A property of the ''*City*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Continent:
                              type: string
                              description: (*Filterable dimensional attribute*) Name of continent
                            ContinentFlag:
                              description: 'Continent Flag: A property of the ''*Continent*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Country:
                              type: string
                              description: '(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1]'
                            CountryFlag:
                              description: 'Country Flag: A property of the ''*Country*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CountryLocale:
                              description: 'Country Locale: A property of the ''*Country*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CountryCentroidLat:
                              description: 'Country Centroid Lat: A property of the ''*Country*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CountryCentroidLng:
                              description: 'Country Centroid Lng: A property of the ''*Country*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CountrySubregion:
                              type: string
                              description: (*Filterable dimensional attribute*) Country Subregion
                            CountrySubregionLocale:
                              description: 'Country Subregion Locale: A property of the ''*CountrySubregion*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            County:
                              type: string
                              description: (*Filterable dimensional attribute*) Name of County or Municipal Authority
                            CountyCentroidLat:
                              description: 'County Centroid Lat: A property of the ''*County*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CountyCentroidLng:
                              description: 'County Centroid Lng: A property of the ''*County*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CountyCode:
                              description: 'County Code: A property of the ''*County*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CountyLocale:
                              description: 'County Locale: A property of the ''*County*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            State:
                              type: string
                              description: (*Filterable dimensional attribute*) Name of state / province / region as applicable
                            StateCentroidLat:
                              description: 'State Centroid Lat: A property of the ''*State*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            StateCentroidLng:
                              description: 'State Centroid Lng: A property of the ''*State*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            StateCode:
                              description: 'State Code: A property of the ''*State*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            StateLocale:
                              description: 'State Locale: A property of the ''*State*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            StateSubregion:
                              type: string
                              description: (*Filterable dimensional attribute*) State Subregion
                            StateSubregionCode:
                              description: 'State Subregion Code: A property of the ''*StateSubregion*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            StateSubregionLocale:
                              description: 'State Subregion Locale: A property of the ''*StateSubregion*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Volcano:
                              type: string
                              description: (*Filterable dimensional attribute*) Unique ID and Name of a Volcano
                            Latitude:
                              description: 'Latitude: A property of the ''*Volcano*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Longitude:
                              description: 'Longitude: A property of the ''*Volcano*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            VolcanoName:
                              description: 'Volcano Name: A property of the ''*Volcano*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Zip:
                              type: string
                              description: (*Filterable dimensional attribute*) ZIP or Postal Code
                            ZipCentroidLat:
                              description: 'Zip Centroid Lat: A property of the ''*Zip*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            ZipCentroidLng:
                              description: 'Zip Centroid Lng: A property of the ''*Zip*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            ZipArea:
                              description: 'Zip Area: A property of the ''*Zip*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            ZipLocale:
                              description: 'Zip Locale: A property of the ''*Zip*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/HealthInsuranceType:
    summary: HealthInsuranceType
    description: 'Type of health insurance (Employer, Govt, Private, None, etc) that people have'
    get:
      tags:
        - Health
      summary: HealthInsuranceType (Dimension)
      description: "Type of health insurance (Employer, Govt, Private, None, etc) that people have  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      HealthInsuranceTypes:
                        type: array
                        items:
                          title: HealthInsuranceType
                          type: object
                          properties:
                            HealthInsuranceType:
                              type: string
                              description: '(*Filterable dimensional attribute*) "Type of health insurance (Employer, Govt, Private, None, etc)"'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Holidays:
    summary: Holidays
    description: This dimension has the list of holidays for which dates are available
    get:
      tags:
        - Culture
      summary: Holidays (Dimension)
      description: "This dimension has the list of holidays for which dates are available  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Holidays:
                        type: array
                        items:
                          title: Holidays
                          type: object
                          properties:
                            HolidayName:
                              type: string
                              description: (*Filterable dimensional attribute*) Name of holiday (Alternate names are separate members)
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/HolidaysPublic:
    summary: HolidaysPublic
    description: HolidaysPublic
    get:
      tags:
        - Culture
      summary: HolidaysPublic (Dimension)
      description: "HolidaysPublic  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      HolidaysPublics:
                        type: array
                        items:
                          title: HolidaysPublic
                          type: object
                          properties:
                            IsPublic:
                              type: string
                              description: (*Filterable dimensional attribute*) Flag to define whether a holiday is public or not
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/ICD10:
    summary: ICD10
    description: The data on morbidity (where public) as well as causes of mortality are organized by the ICD 10 classification
    get:
      tags:
        - Health
      summary: ICD10 (Dimension)
      description: "The data on morbidity (where public) as well as causes of mortality are organized by the ICD 10 classification  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      ICD10:
                        type: array
                        items:
                          title: ICD10
                          type: object
                          properties:
                            DiseaseCode:
                              type: string
                              description: (*Filterable dimensional attribute*) Disease code per ICD 10 Classification
                            DiseaseGroup:
                              type: string
                              description: (*Filterable dimensional attribute*) Disease group per ICD 10 Classification
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/IncomeGrp:
    summary: IncomeGrp
    description: This dimension has the various income classes that are used to organize data
    get:
      tags:
        - Consumer Metrics
      summary: IncomeGrp (Dimension)
      description: "This dimension has the various income classes that are used to organize data  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      IncomeGrps:
                        type: array
                        items:
                          title: IncomeGrp
                          type: object
                          properties:
                            Class:
                              type: string
                              description: (*Filterable dimensional attribute*) Income Class
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Industry:
    summary: Industry
    description: This dimension has all the attributes and levels to organize data by industry. We use NAICS classification ontology as well as identifiers.
    get:
      tags:
        - Common Models
      summary: Industry (Dimension)
      description: "This dimension has all the attributes and levels to organize data by industry. We use NAICS classification ontology as well as identifiers.  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*. *There are properties attached to some attributes of this dimension which are only returned if the following condition(s) are specified in the `filters` array parameter*\n```\n[{\n\"AttributeName\": \"Company\",   \n\"Properties\": [\"ParentCompany\"]\n}, {\n\"AttributeName\": \"CompanyFacility\",   \n\"Properties\": [\"CompanyFacilityAdditionalNotes\", \"FacilityFormat\", \"FacilityType\", \"Latitude\", \"CompanyFacilityLinkedRDC\", \"Longitude\", \"CompanyFacilityRetailerCategory\", \"CompanyFacilityRowstoscrape\", \"CompanyFacilityScrapeId\", \"CompanyFacilityAddress\", \"CompanyFacilityId\", \"CompanyFacilityKey\", \"CompanyFacilityURL\"]\n}]\n```"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Industries:
                        type: array
                        items:
                          title: Industry
                          type: object
                          properties:
                            Company:
                              type: string
                              description: (*Filterable dimensional attribute*) Name of the company
                            ParentCompany:
                              description: 'Parent Company: A property of the ''*Company*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacility:
                              type: string
                              description: '(*Filterable dimensional attribute*) "Company Facility e.g., Store/Warehouse/etc"'
                            CompanyFacilityAdditionalNotes:
                              description: 'Company Facility Additional Notes: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            FacilityFormat:
                              description: 'Facility Format: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            FacilityType:
                              description: 'Facility Type: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Latitude:
                              description: 'Latitude: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityLinkedRDC:
                              description: 'Company Facility Linked RDC: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Longitude:
                              description: 'Longitude: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityRetailerCategory:
                              description: 'Company Facility Retailer Category: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityRowstoscrape:
                              description: 'Company Facility Rowstoscrape: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityScrapeId:
                              description: 'Company Facility Scrape Id: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityAddress:
                              description: 'Company Facility Address: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityId:
                              description: 'Company Facility Id: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityKey:
                              description: 'Company Facility Key: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CompanyFacilityURL:
                              description: 'Company Facility URL: A property of the ''*CompanyFacility*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            IndustryGroup:
                              type: string
                              description: (*Filterable dimensional attribute*) Industy Group
                            Sector:
                              type: string
                              description: (*Filterable dimensional attribute*) Industry Sector
                            Subsector:
                              type: string
                              description: (*Filterable dimensional attribute*) Industry Subsector
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Product:
    summary: Product
    description: The product hierarchy has the generic hierarchies that are based on the NAPCS classification
    get:
      tags:
        - Common Models
      summary: Product (Dimension)
      description: "The product hierarchy has the generic hierarchies that are based on the NAPCS classification  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*. *There are properties attached to some attributes of this dimension which are only returned if the following condition(s) are specified in the `filters` array parameter*\n```\n[{\n\"AttributeName\": \"SKU\",   \n\"Properties\": [\"SKUProductImage\"]\n}]\n```"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Products:
                        type: array
                        items:
                          title: Product
                          type: object
                          properties:
                            Category:
                              type: string
                              description: (*Filterable dimensional attribute*) Category
                            CategoryDivision:
                              type: string
                              description: (*Filterable dimensional attribute*) Category Division
                            CategoryGroup:
                              type: string
                              description: (*Filterable dimensional attribute*) Category Group
                            CategorySection:
                              type: string
                              description: (*Filterable dimensional attribute*) Category Section
                            CategorySubgroup:
                              type: string
                              description: (*Filterable dimensional attribute*) Category Subgroup
                            CategorySubsection:
                              type: string
                              description: (*Filterable dimensional attribute*) Category Subsection
                            SKU:
                              type: string
                              description: (*Filterable dimensional attribute*) Universal Product Code
                            SKUProductImage:
                              description: 'SKU Product Image: A property of the ''*SKU*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Race:
    summary: Race
    description: Race related data use the attributes listed in this dimension
    get:
      tags:
        - Consumer Metrics
      summary: Race (Dimension)
      description: "Race related data use the attributes listed in this dimension  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Races:
                        type: array
                        items:
                          title: Race
                          type: object
                          properties:
                            Race:
                              type: string
                              description: (*Filterable dimensional attribute*) Race
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Sports:
    summary: Sports
    description: These are sporting events for which data are available
    get:
      tags:
        - Culture
      summary: Sports (Dimension)
      description: "These are sporting events for which data are available  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Sports:
                        type: array
                        items:
                          title: Sports
                          type: object
                          properties:
                            Sports:
                              type: string
                              description: '(*Filterable dimensional attribute*) "Sports events e.g., basketball, american football, boxing, etc."'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/SportsTeam:
    summary: SportsTeam
    description: Data on matches between teams for select sporting events are available. The teams are listed in this dimension.
    get:
      tags:
        - Culture
      summary: SportsTeam (Dimension)
      description: "Data on matches between teams for select sporting events are available. The teams are listed in this dimension.  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      SportsTeams:
                        type: array
                        items:
                          title: SportsTeam
                          type: object
                          properties:
                            SportsTeam:
                              type: string
                              description: (*Filterable dimensional attribute*) Sports Team
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/SportTournament:
    summary: SportTournament
    description: This dimension lists the well attended sports tournaments for which data are available.
    get:
      tags:
        - Culture
      summary: SportTournament (Dimension)
      description: "This dimension lists the well attended sports tournaments for which data are available.  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      SportTournaments:
                        type: array
                        items:
                          title: SportTournament
                          type: object
                          properties:
                            SportTournament:
                              type: string
                              description: (*Filterable dimensional attribute*) Tournament
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Time:
    summary: Time
    description: 'The dimension is the most fundamental of dimensions used to key and filter data. In addition to range based filtering there are also predefined filters that you can use for this dimension. [See section on ''Named Sets'' in the overview section of this docum'
    get:
      tags:
        - Common Models
      summary: Time (Dimension)
      description: "The dimension is the most fundamental of dimensions used to key and filter data. In addition to range based filtering there are also predefined filters that you can use for this dimension. [See section on 'Named Sets' in the overview section of this docum  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Times:
                        type: array
                        items:
                          title: Time
                          type: object
                          properties:
                            Day:
                              type: string
                              description: (*Filterable dimensional attribute*) Day
                              format: YYYY-MM-DD
                            Month:
                              type: string
                              description: (*Filterable dimensional attribute*) Month
                              format: YYYY-MM-DD
                            Quarter:
                              type: string
                              description: (*Filterable dimensional attribute*) Quarter
                              format: YYYY-MM-DD
                            WeekFri:
                              type: string
                              description: (*Filterable dimensional attribute*) Week starting from Friday
                              format: YYYY-MM-DD
                            WeekMon:
                              type: string
                              description: (*Filterable dimensional attribute*) Week starting from Monday
                              format: YYYY-MM-DD
                            WeekSat:
                              type: string
                              description: (*Filterable dimensional attribute*) Week starting from Saturday
                              format: YYYY-MM-DD
                            WeekSun:
                              type: string
                              description: (*Filterable dimensional attribute*) Week starting from Sunday
                              format: YYYY-MM-DD
                            WeekThu:
                              type: string
                              description: (*Filterable dimensional attribute*) Week starting from Thursday
                              format: YYYY-MM-DD
                            WeekTue:
                              type: string
                              description: (*Filterable dimensional attribute*) Week starting from Tuesday
                              format: YYYY-MM-DD
                            WeekWed:
                              type: string
                              description: (*Filterable dimensional attribute*) Week starting from Wednesday
                              format: YYYY-MM-DD
                            Year:
                              type: string
                              description: (*Filterable dimensional attribute*) Year
                              format: YYYY-MM-DD
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Vaccine:
    summary: Vaccine
    description: Vaccination data uses dimension
    get:
      tags:
        - Pandemic
      summary: Vaccine (Dimension)
      description: "Vaccination data uses dimension  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Vaccines:
                        type: array
                        items:
                          title: Vaccine
                          type: object
                          properties:
                            Vaccine:
                              type: string
                              description: (*Filterable dimensional attribute*) Name of vaccine
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/PPINonFoodEnergyServicesMonthly:
    summary: '"PPI: Less Food, Energy, Svcs - Mthly"'
    description: Monthly statistics for Producer's Price Index for non-food energy services
    get:
      tags:
        - Macroeconomic
      summary: '"PPI: Less Food, Energy, Svcs - Mthly"'
      description: Monthly statistics for Producer's Price Index for non-food energy services
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      PPINonFoodEnergyServicesMonthlies:
                        type: array
                        items:
                          title: PPINonFoodEnergyServicesMonthly
                          type: object
                          properties:
                            Country:
                              type: string
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geo (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Month:
                              type: string
                              description: "(*Filterable dimensional attribute*) Month.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            PersonalConsumptionNonFoodEnergyServicesDemandNSA:
                              type: number
                              description: '"Producer Price Index: Final Demand: Personal Consumption Less Foods, Energy, and Distributive Services (Not Seasonally Adjusted)"'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/Covid19InternalMovementRestrictionsCountryDaily:
    summary: '"Travel, Domestic: Country"'
    description: Domestic travel restrictions that were put in place. These data are one-hot encoded for direct use in ML models
    get:
      tags:
        - Pandemic
      summary: '"Travel, Domestic: Country"'
      description: Domestic travel restrictions that were put in place. These data are one-hot encoded for direct use in ML models
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Covid19InternalMovementRestrictionsCountryDaily:
                        type: array
                        items:
                          title: Covid19InternalMovementRestrictionsCountryDaily
                          type: object
                          properties:
                            Country:
                              type: string
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geo (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Day:
                              type: string
                              description: "(*Filterable dimensional attribute*) Day.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            MovementDiscouraged:
                              type: number
                              description: Domestic movement discouraged
                            MovementRestricted:
                              type: number
                              description: Restriction on domestic movement enacted
                            PublicTransportClosed:
                              type: number
                              description: Most people restricted from using public transport
                            PublicTransportRestricted:
                              type: number
                              description: Significant reduction in public transport
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/Covid19InternalMovementRestrictionsStateDaily:
    summary: '"Travel, Domestic: State"'
    description: Domestic travel restrictions that were put in place. These data are one-hot encoded for direct use in ML models
    get:
      tags:
        - Pandemic
      summary: '"Travel, Domestic: State"'
      description: Domestic travel restrictions that were put in place. These data are one-hot encoded for direct use in ML models
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Covid19InternalMovementRestrictionsStateDaily:
                        type: array
                        items:
                          title: Covid19InternalMovementRestrictionsStateDaily
                          type: object
                          properties:
                            Day:
                              type: string
                              description: "(*Filterable dimensional attribute*) Day.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            State:
                              type: string
                              description: "(*Filterable dimensional attribute*) Name of state / province / region as applicable.  \n<br/>*See 'Geo (Dimension)' in this document for the other attributes that might be used for filtering*"
                            MovementDiscouraged:
                              type: number
                              description: Domestic movement discouraged
                            MovementRestricted:
                              type: number
                              description: Restriction on domestic movement enacted
                            PublicTransportClosed:
                              type: number
                              description: Most people restricted from using public transport
                            PublicTransportRestricted:
                              type: number
                              description: Significant reduction in public transport
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/Covid19InternationalTravelRestrictionsCountryDaily:
    summary: '"Travel, Internat''l: Country"'
    description: International travel restrictions that were put in place. These data are one-hot encoded for direct use in ML models
    get:
      tags:
        - Pandemic
      summary: '"Travel, Internat''l: Country"'
      description: International travel restrictions that were put in place. These data are one-hot encoded for direct use in ML models
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Covid19InternationalTravelRestrictionsCountryDaily:
                        type: array
                        items:
                          title: Covid19InternationalTravelRestrictionsCountryDaily
                          type: object
                          properties:
                            Country:
                              type: string
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geo (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Day:
                              type: string
                              description: "(*Filterable dimensional attribute*) Day.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            AllCountriesBanned:
                              type: number
                              description: Total border closure
                            Quarantined:
                              type: number
                              description: Quarantine of arrival from some or all regions
                            Screened:
                              type: number
                              description: Screening of international arrivals
                            SomeCountriesBanned:
                              type: number
                              description: Ban of arrival from some regions
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/Covid19InternationalTravelRestrictionsStateDaily:
    summary: '"Travel, Internat''l: State"'
    description: International travel restrictions that were put in place. These data are one-hot encoded for direct use in ML models
    get:
      tags:
        - Pandemic
      summary: '"Travel, Internat''l: State"'
      description: International travel restrictions that were put in place. These data are one-hot encoded for direct use in ML models
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Covid19InternationalTravelRestrictionsStateDaily:
                        type: array
                        items:
                          title: Covid19InternationalTravelRestrictionsStateDaily
                          type: object
                          properties:
                            Day:
                              type: string
                              description: "(*Filterable dimensional attribute*) Day.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            State:
                              type: string
                              description: "(*Filterable dimensional attribute*) Name of state / province / region as applicable.  \n<br/>*See 'Geo (Dimension)' in this document for the other attributes that might be used for filtering*"
                            AllCountriesBanned:
                              type: number
                              description: Total border closure
                            Quarantined:
                              type: number
                              description: Quarantine of arrival from some or all regions
                            Screened:
                              type: number
                              description: Screening of international arrivals
                            SomeCountriesBanned:
                              type: number
                              description: Ban of arrival from some regions
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/CommodityIndexAgriRawMaterials:
    summary: Agri Materials
    description: '"These are price indices for the agriculture raw materials. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100."'
    get:
      tags:
        - Commodities
      summary: Agri Materials
      description: '"These are price indices for the agriculture raw materials. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100."'
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CommodityIndexAgriRawMaterials:
                        type: array
                        items:
                          title: CommodityIndexAgriRawMaterials
                          type: object
                          properties:
                            Country:
                              type: string
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geo (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Month:
                              type: string
                              description: "(*Filterable dimensional attribute*) Month.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            AgriRawMaterials:
                              type: number
                              description: 'Agricultural Raw Materials [Index - 2016=100]'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/AppleMobilityCountry:
    summary: Apple Mobility
    description: These are data made available by Apple Inc. They provide changes from baseline levels for select countries.
    get:
      tags:
        - Mobility
      summary: Apple Mobility
      description: These are data made available by Apple Inc. They provide changes from baseline levels for select countries.
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      AppleMobilityCountries:
                        type: array
                        items:
                          title: AppleMobilityCountry
                          type: object
                          properties:
                            Country:
                              type: string
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geo (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Day:
                              type: string
                              description: "(*Filterable dimensional attribute*) Day.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            AppleMobilityDriving:
                              type: number
                              description: 'Mobility data from Apple: Driving patterns during the pandemic for countries.'
                            AppleMobilityTransit:
                              type: number
                              description: 'Mobility data from Apple: Transit system traffice during the pandemic for countries.'
                            AppleMobilityWalking:
                              type: number
                              description: 'Mobility data from Apple: Walking activity during the pandemic for countries.'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/Covid19PublicInformationCampaignsCountryDaily:
    summary: 'Awareness Campaigns: Country'
    description: Efforts to counter the panic and misinformation around the pandemic as carried out by public administration
    get:
      tags:
        - Pandemic
      summary: 'Awareness Campaigns: Country'
      description: Efforts to counter the panic and misinformation around the pandemic as carried out by public administration
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Covid19PublicInformationCampaignsCountryDaily:
                        type: array
                        items:
                          title: Covid19PublicInformationCampaignsCountryDaily
                          type: object
                          properties:
                            Country:
                              type: string
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geo (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Day:
                              type: string
                              description: "(*Filterable dimensional attribute*) Day.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            CampaignsAbsent:
                              type: number
                              description: No Covid-19 public information campaign
                            CampaignsbyOfficials:
                              type: number
                              description: Public officials urging caution about Covid-19
                            CoordinatedCampaigns:
                              type: number
                              description: Coordinated public information campaign across traditional and social media
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/Covid19PublicInformationCampaignsStateDaily:
    summary: 'Awareness Campaigns: State'
    description: Efforts to counter the panic and misinformation around the pandemic as carried out by public administration
    get:
      tags:
        - Pandemic
      summary: 'Awareness Campaigns: State'
      description: Efforts to counter the panic and misinformation around the pandemic as carried out by public administration
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Covid19PublicInformationCampaignsStateDaily:
                        type: array
                        items:
                          title: Covid19PublicInformationCampaignsStateDaily
                          type: object
                          properties:
                            Day:
                              type: string
                              description: "(*Filterable dimensional attribute*) Day.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            State:
                              type: string
                              description: "(*Filterable dimensional attribute*) Name of state / province / region as applicable.  \n<br/>*See 'Geo (Dimension)' in this document for the other attributes that might be used for filtering*"
                            CampaignsAbsent:
                              type: number
                              description: No Covid-19 public information campaign
                            CampaignsbyOfficials:
                              type: number
                              description: Public officials urging caution about Covid-19
                            CoordinatedCampaigns:
                              type: number
                              description: Coordinated public information campaign across traditional and social media
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/InterestRatesBankingMonthly:
    summary: Bank Rates - Mthly
    description: Monthly statistics for banking interest rates
    get:
      tags:
        - Macroeconomic
      summary: Bank Rates - Mthly
      description: Monthly statistics for banking interest rates
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      InterestRatesBankingMonthlies:
                        type: array
                        items:
                          title: InterestRatesBankingMonthly
                          type: object
                          properties:
                            Country:
                              type: string
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geo (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Month:
                              type: string
                              description: "(*Filterable dimensional attribute*) Month.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            CommercialBankPersonalLoanRateNSA:
                              type: number
                              description: 'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan (Not Seasonally Adjusted)'
                            CommercialBankRateCreditCardNSA:
                              type: number
                              description: 'Commercial Bank Interest Rate on Credit Card Plans, All Accounts (Not Seasonally Adjusted)'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/RatesBankingWeekly:
    summary: Bank Rates - Wkly
    description: Weekly statistics for banking rates
    get:
      tags:
        - Macroeconomic
      summary: Bank Rates - Wkly
      description: Weekly statistics for banking rates
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      RatesBankingWeeklies:
                        type: array
                        items:
                          title: RatesBankingWeekly
                          type: object
                          properties:
                            Country:
                              type: string
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geo (Dimension)' in this document for the other attributes that might be used for filtering*"
                            WeekFri:
                              type: string
                              description: "(*Filterable dimensional attribute*) Week starting from Friday.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            MortgageRate30YearsNSA:
                              type: number
                              description: 30-Year Fixed Rate Mortgage Average in the United States (Not Seasonally Adjusted)
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/DailyInterestRates:
    summary: Bank Rates (Policy) - Daily
    description: These are interest rates that are applicable for modelling effect of monetary policy.
    get:
      tags:
        - Macroeconomic
      summary: Bank Rates (Policy) - Daily
      description: These are interest rates that are applicable for modelling effect of monetary policy.
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      DailyInterestRates:
                        type: array
                        items:
                          title: DailyInterestRates
                          type: object
                          properties:
                            Country:
                              type: string
                              description: "(*Filterable dimensional attribute*) Three letter alphabetic code for country [Alpha 3 per ISO 3166-1].  \n<br/>*See 'Geo (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Day:
                              type: string
                              description: "(*Filterable dimensional attribute*) Day.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            CentralBankPolicyRate:
                              type: number
                              description: Policy Interest Rate as published by BIS daily
                            CentralBankPrimeLoanRate:
                              type: number
                              description: Policy Interest Rate
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/CommodityIndexFoodnBeveragesMonthly:
    summary: Beverages
    description: '"These are price indices for the food and beverages. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100."'
    get:
      tags:
        - Commodities
      summary: Beverages
      description: '"These are price indices for the food and beverages. Unless otherwise stated, the index year is 2016 with that year''s price indexed at 100."'
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CommodityIndexFoodnBeveragesMonthlies:
                        type: array
                        items:
                          title: CommodityIndexFoodnBeveragesMonthly
                          type: object
                          properties:
                            Country:
                              type: string
[...]
