openapi: 3.0.1
info:
  title: o9 Market Intelligence
  description: "# Introduction\no9 Market Intelligence is the digital situational awareness needed by digitally enabled businesses. It comprises the information about the consumer behaviour, market structure, cultural events as well as broad economic indicators. This intelligence supplements the internal data generated by operations. Using a 360 degree view of the business results in better decisions.\n\nYou can find out more at [o9 Solutions' Website](https://o9solutions.com/solutions/revenue/market-intelligence/)\n\n## Knowledge Hub\nThe Knowledge Hub is the web service that serves the data and knowledge models for o9 Market Intelligence. This document lists all the APIs of this web service. These APIs require an token that you should request from o9.\n\n## Authentication\nWe use Bearer authentication with the token signifier being 'ApiKey'. Contact your o9 partner to get your authentication token. The token should be sent in the 'Authorization' key of the HTTP header, formatted as under\n\n***Authorization :*** `ApiKey apikey.fromO9solutions`\n   \n## Filtering Results\nFilter conditions are specified in the form of a JSON object as a query parameter called 'filters'. Some example filters are listed below\n\n***Filter using dimension fields returned in the API***\n\n`[{ \"AttributeName\" : \"City\", \"Values\" : [\" Dallas : TX Dallas County\", \"Boston : MA Suffolk County\"] }]`\n\n***Filter using higher level grouping of the dimension fields [Refer to the respective dimension API]***\n\n`[{ \"AttributeName\" : \"Country\", \"Values\" : [\"USA\", \"NLD\"], \"DimensionName\" : \"Geo\" }]`\n\n***Filter using Named Sets [See list of valid values in the next section]***\n\n`[{ \"AttributeName\" : \"Day\", \"NamedSet\" : \"CurrentDay\" }]`\n\n***Filter using date ranges***\n\n`[{ \"AttributeName\":\"Day\", \"DateRanges\" : [{\"op\" : \">=\", \"value\" : \"2021-06-01\"},{\"op\" : \"<\", \"value\" : \"2021-06-03\"}], \"DimensionName\" : \"Time\" }]`\n\n***Multiple filter conditions***  \nThe filters object is an array of filter conditions. Multiple filters can be combined together for a more refined search. Some examples:\n\n- Specific values\n\n`[{ \"AttributeName\" : \"City\", \"Values\" : [\" Dallas : TX Dallas County\"] }, {\"AttributeName\" : \"Day\", \"NamedSet\" : \"CurrentDay\" }]`\n\n- Ranges\n\n`[{ \"AttributeName\" : \"Country\", \"Values\" : [\"USA\", \"NLD\"], \"DimensionName\" : \"Geo\" }, { \"AttributeName\":\"Day\", \"DateRanges\" : [{\"op\" : \">=\", \"value\" : \"2020-07-01\"}], \"DimensionName\" : \"Time\" }]`\n   \n## Named Sets\n\nThese are short-hand notations for some commonly used filters for the time dimension\n\n<table>\n<tbody>\n<tr>\n<td><strong>Named Set</strong></td>\n<td ><strong>Filter condition</strong></td>\n</tr>\n<tr>\n<td>Last3yrs</td>\n<td>The last 1096 days including today</td>\n</tr>\n<tr>\n<td>Last3yrs+Next1mth</td>\n<td>The last 1096 days plus the next 30</td>\n</tr>\n</tbody>\n</table>\n\n"
  version: Beta
  x-logo-url: https://o9designlab.com/wp-content/uploads/2020/08/Design-Lab_Brand-Guidelines_v3_assets_logo-1.svg
servers:
  - url: https://marketintel.trial.o9solutions.com/api/v2
    description: The Knowledge Hub webservice endpoint
paths:
  /master/MarketIntel/Age:
    summary: Age
    description: The age for a certain demographic class
    get:
      tags:
        - Consumer Metrics
      summary: Age (Dimension)
      description: "The age for a certain demographic class  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Ages:
                        type: array
                        items:
                          title: Age
                          type: object
                          properties:
                            Age:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Age : Description of Age'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Brand:
    summary: Brand
    description: Description of Brand
    get:
      tags:
        - Unknown
      summary: Brand (Dimension)
      description: "Description of Brand  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Brands:
                        type: array
                        items:
                          title: Brand
                          type: object
                          properties:
                            Brand:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Brand : Description of Brand'
                            BrandFamily:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Brand Family : Description of Brand Family'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Catalog:
    summary: Catalog
    description: Description of Catalog
    get:
      tags:
        - Unknown
      summary: Catalog (Dimension)
      description: "Description of Catalog  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Catalog descs:
                        type: array
                        items:
                          title: Catalog desc
                          type: object
                          properties:
                            ContentCategory:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Content Category : Description of Content Category'
                            ContentItem:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Content Item : Description of Content Item'
                            ContentSource:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Content Source : Description of Content Source'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Drivetrain:
    summary: Drivetrain
    description: Description of Drivetrain
    get:
      tags:
        - Model
      summary: Drivetrain (Dimension)
      description: "Description of Drivetrain  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Drivetrains:
                        type: array
                        items:
                          title: Drivetrain
                          type: object
                          properties:
                            Drivetrain:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Drivetrain : Description of Drivetrain'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/FSProject:
    summary: FS Project
    description: Description of FS Project
    get:
      tags:
        - Unknown
      summary: FS Project (Dimension)
      description: "Description of FS Project  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      FSProjects:
                        type: array
                        items:
                          title: FSProject
                          type: object
                          properties:
                            FSForecastModel:
                              type: integer
                              description: '(*Filterable dimensional attribute*) FS Forecast Model : Description of FS Forecast Model'
                            FSProjectCustomer:
                              type: integer
                              description: '(*Filterable dimensional attribute*) FS Project Customer : Description of FS Project Customer'
                            FSProjectIterationID:
                              type: integer
                              description: '(*Filterable dimensional attribute*) FS Project Iteration ID : Description of FS Project Iteration ID'
                            FSProjectModelID:
                              type: integer
                              description: '(*Filterable dimensional attribute*) FS Project Model ID : Description of FS Project Model ID'
                            FSProjectType:
                              type: integer
                              description: '(*Filterable dimensional attribute*) FS Project Type : Description of FS Project Type'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Geo:
    summary: Geo
    description: Description of Geo
    get:
      tags:
        - Unknown
      summary: Geo (Dimension)
      description: "Description of Geo  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*. *There are properties attached to some attributes of this dimension which are only returned if the following condition(s) are specified in the `filters` array parameter*\n```\n[{\n\"AttributeName\": \"City\",   \n\"Properties\": [\"CentroidCityLat\", \"CentroidCityLong\"]\n}, {\n\"AttributeName\": \"Continent\",   \n\"Properties\": [\"ContinentFlag\"]\n}, {\n\"AttributeName\": \"Country\",   \n\"Properties\": [\"CentroidCountryLat\", \"CentroidCountryLong\", \"CountryFlag\", \"CountryLocale\"]\n}, {\n\"AttributeName\": \"County\",   \n\"Properties\": [\"CentroidCountyLat\", \"CentroidCountyLong\"]\n}, {\n\"AttributeName\": \"State\",   \n\"Properties\": [\"CentroidStateLat\", \"CentroidStateLong\"]\n}, {\n\"AttributeName\": \"Zip\",   \n\"Properties\": [\"CentroidZipLat\", \"CentroidZipLong\", \"ZipArea\"]\n}]\n```"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Geos:
                        type: array
                        items:
                          title: Geo
                          type: object
                          properties:
                            City:
                              type: integer
                              description: '(*Filterable dimensional attribute*) City : Description of City'
                            CentroidCityLat:
                              description: 'Centroid City Lat: A property of the ''*City*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CentroidCityLong:
                              description: 'Centroid City Long: A property of the ''*City*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Continent:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Continent : Description of Continent'
                            ContinentFlag:
                              description: 'Continent Flag: A property of the ''*Continent*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Country:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Country : Description of Country'
                            CentroidCountryLat:
                              description: 'Centroid Country Lat: A property of the ''*Country*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CentroidCountryLong:
                              description: 'Centroid Country Long: A property of the ''*Country*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CountryFlag:
                              description: 'Country Flag: A property of the ''*Country*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CountryLocale:
                              description: 'Country Locale: A property of the ''*Country*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            County:
                              type: integer
                              description: '(*Filterable dimensional attribute*) County : Description of County'
                            CentroidCountyLat:
                              description: 'Centroid County Lat: A property of the ''*County*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CentroidCountyLong:
                              description: 'Centroid County Long: A property of the ''*County*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            State:
                              type: integer
                              description: '(*Filterable dimensional attribute*) State : Description of State'
                            CentroidStateLat:
                              description: 'Centroid State Lat: A property of the ''*State*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CentroidStateLong:
                              description: 'Centroid State Long: A property of the ''*State*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Zip:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Zip : Description of Zip'
                            CentroidZipLat:
                              description: 'Centroid Zip Lat: A property of the ''*Zip*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            CentroidZipLong:
                              description: 'Centroid Zip Long: A property of the ''*Zip*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            ZipArea:
                              description: 'Zip Area: A property of the ''*Zip*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/HealthInsuranceType:
    summary: Health Insurance
    description: Description of Health Insurance Type
    get:
      tags:
        - Unknown
      summary: Health Insurance (Dimension)
      description: "Description of Health Insurance Type  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      HealthInsuranceTypes:
                        type: array
                        items:
                          title: HealthInsuranceType
                          type: object
                          properties:
                            HealthInsuranceType:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Health Insurance Type : Description of Health Insurance Type'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Holidays:
    summary: Holidays
    description: Description of Holidays
    get:
      tags:
        - Unknown
      summary: Holidays (Dimension)
      description: "Description of Holidays  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Holidays:
                        type: array
                        items:
                          title: Holidays
                          type: object
                          properties:
                            HolidayName:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Holiday Name : Description of Holiday Name'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/ICD10:
    summary: ICD10
    description: Description of ICD10
    get:
      tags:
        - Events
      summary: ICD10 (Dimension)
      description: "Description of ICD10  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      ICD10:
                        type: array
                        items:
                          title: ICD10
                          type: object
                          properties:
                            BroadCause:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Broad Cause : Description of Broad Cause'
                            RootCause:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Root Cause : Description of Root Cause'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/IncomeGrp:
    summary: Income Grp
    description: Description of Income Grp
    get:
      tags:
        - Unknown
      summary: Income Grp (Dimension)
      description: "Description of Income Grp  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      IncomeGrps:
                        type: array
                        items:
                          title: IncomeGrp
                          type: object
                          properties:
                            IncomeGrp:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Income Grp : Description of Income Grp'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Industry:
    summary: Industry
    description: Description of Industry
    get:
      tags:
        - Unknown
      summary: Industry (Dimension)
      description: "Description of Industry  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*. *There are properties attached to some attributes of this dimension which are only returned if the following condition(s) are specified in the `filters` array parameter*\n```\n[{\n\"AttributeName\": \"IL5\",   \n\"Properties\": [\"AdditionalNotes\", \"Latitude\", \"LinkedRDC\", \"Longitude\", \"ParentCompany\", \"RetailerCategory\", \"Rowstoscrape\", \"ScrapeId\", \"StoreAddress\", \"StoreFormat\", \"StoreId\", \"StoreKey\", \"StoreURL\"]\n}]\n```"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Industries:
                        type: array
                        items:
                          title: Industry
                          type: object
                          properties:
                            IL1:
                              type: integer
                              description: '(*Filterable dimensional attribute*) IL1 : Description of IL1'
                            IL2:
                              type: integer
                              description: '(*Filterable dimensional attribute*) IL2 : Description of IL2'
                            IL3:
                              type: integer
                              description: '(*Filterable dimensional attribute*) IL3 : Description of IL3'
                            IL4:
                              type: integer
                              description: '(*Filterable dimensional attribute*) IL4 : Description of IL4'
                            IL5:
                              type: integer
                              description: '(*Filterable dimensional attribute*) IL5 : Description of IL5'
                            AdditionalNotes:
                              description: 'Additional Notes: A property of the ''*IL5*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Latitude:
                              description: 'Latitude: A property of the ''*IL5*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            LinkedRDC:
                              description: 'Linked RDC: A property of the ''*IL5*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Longitude:
                              description: 'Longitude: A property of the ''*IL5*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            ParentCompany:
                              description: 'Parent Company: A property of the ''*IL5*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            RetailerCategory:
                              description: 'Retailer Category: A property of the ''*IL5*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Rowstoscrape:
                              description: 'Rowstoscrape: A property of the ''*IL5*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            ScrapeId:
                              description: 'Scrape Id: A property of the ''*IL5*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            StoreAddress:
                              description: 'Store Address: A property of the ''*IL5*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            StoreFormat:
                              description: 'Store Format: A property of the ''*IL5*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            StoreId:
                              description: 'Store Id: A property of the ''*IL5*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            StoreKey:
                              description: 'Store Key: A property of the ''*IL5*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            StoreURL:
                              description: 'Store URL: A property of the ''*IL5*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            StoreBatchID:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Store Batch ID : Description of Store Batch ID'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/IndustryDriver:
    summary: Industry Driver
    description: Description of Industry Driver
    get:
      tags:
        - Consumer Metrics
      summary: Industry Driver (Dimension)
      description: "Description of Industry Driver  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*. *There are properties attached to some attributes of this dimension which are only returned if the following condition(s) are specified in the `filters` array parameter*\n```\n[{\n\"AttributeName\": \"Driver\",   \n\"Properties\": [\"Driver Source\"]\n}]\n```"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      IndustryDrivers:
                        type: array
                        items:
                          title: IndustryDriver
                          type: object
                          properties:
                            Driver:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Driver : Description of Driver'
                            Driver Source:
                              description: 'Driver Source: A property of the ''*Driver*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Driver Group:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Driver Group : Description of Driver Group'
                            Driver Sub-Group:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Driver Sub-Group : Description of Driver Sub-Group'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Location:
    summary: Location
    description: Description of Location
    get:
      tags:
        - Unknown
      summary: Location (Dimension)
      description: "Description of Location  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*. *There are properties attached to some attributes of this dimension which are only returned if the following condition(s) are specified in the `filters` array parameter*\n```\n[{\n\"AttributeName\": \"Location\",   \n\"Properties\": [\"Latitude\", \"LocationType\", \"Longitude\"]\n}]\n```"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Locations:
                        type: array
                        items:
                          title: Location
                          type: object
                          properties:
                            Location:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Location : Description of Location'
                            Latitude:
                              description: 'Latitude: A property of the ''*Location*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            LocationType:
                              description: 'Location Type: A property of the ''*Location*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Longitude:
                              description: 'Longitude: A property of the ''*Location*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Personnel:
    summary: Personnel
    description: Description of Personnel
    get:
      tags:
        - Unknown
      summary: Personnel (Dimension)
      description: "Description of Personnel  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*. *There are properties attached to some attributes of this dimension which are only returned if the following condition(s) are specified in the `filters` array parameter*\n```\n[{\n\"AttributeName\": \"Email\",   \n\"Properties\": [\"Image\", \"Is MPower User\", \"User Id\", \"User Name\"]\n}]\n```"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Personnels:
                        type: array
                        items:
                          title: Personnel
                          type: object
                          properties:
                            Email:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Email : Description of Email'
                            Image:
                              description: 'Image: A property of the ''*Email*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            Is MPower User:
                              description: 'Is M Power User: A property of the ''*Email*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            User Id:
                              description: 'User Id: A property of the ''*Email*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                            User Name:
                              description: 'User Name: A property of the ''*Email*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Product:
    summary: Product
    description: Description of Product
    get:
      tags:
        - Unknown
      summary: Product (Dimension)
      description: "Description of Product  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*. *There are properties attached to some attributes of this dimension which are only returned if the following condition(s) are specified in the `filters` array parameter*\n```\n[{\n\"AttributeName\": \"PL7\",   \n\"Properties\": [\"ProductImage\"]\n}]\n```"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Products:
                        type: array
                        items:
                          title: Product
                          type: object
                          properties:
                            PL1:
                              type: integer
                              description: '(*Filterable dimensional attribute*) PL1 : Description of PL1'
                            PL2:
                              type: integer
                              description: '(*Filterable dimensional attribute*) PL2 : Description of PL2'
                            PL3:
                              type: integer
                              description: '(*Filterable dimensional attribute*) PL3 : Description of PL3'
                            PL4:
                              type: integer
                              description: '(*Filterable dimensional attribute*) PL4 : Description of PL4'
                            PL5:
                              type: integer
                              description: '(*Filterable dimensional attribute*) PL5 : Description of PL5'
                            PL6:
                              type: integer
                              description: '(*Filterable dimensional attribute*) PL6 : Description of PL6'
                            PL7:
                              type: integer
                              description: '(*Filterable dimensional attribute*) PL7 : Description of PL7'
                            ProductImage:
                              description: 'Product Image: A property of the ''*PL7*'' dimensional attribute. *Note: Set the appropriate filter condition to retrieve this value. See details above.*'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Race:
    summary: Race
    description: Description of Race
    get:
      tags:
        - Market Structure
      summary: Race (Dimension)
      description: "Description of Race  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Races:
                        type: array
                        items:
                          title: Race
                          type: object
                          properties:
                            Race:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Race : Description of Race'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/RootCause:
    summary: Root Cause
    description: Description of Root Cause
    get:
      tags:
        - Unknown
      summary: Root Cause (Dimension)
      description: "Description of Root Cause  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      RootCause Dimensions:
                        type: array
                        items:
                          title: RootCause Dimension
                          type: object
                          properties:
                            Problem Type:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Problem Type : Description of Problem Type'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/SearchTag:
    summary: Search Tag
    description: Description of Search Tag
    get:
      tags:
        - Sports
      summary: Search Tag (Dimension)
      description: "Description of Search Tag  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      SearchTags:
                        type: array
                        items:
                          title: SearchTag
                          type: object
                          properties:
                            Tag:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Tag : Description of Tag'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Sequence:
    summary: Sequence
    description: Description of Sequence
    get:
      tags:
        - Unknown
      summary: Sequence (Dimension)
      description: "Description of Sequence  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Sequence Dimensions:
                        type: array
                        items:
                          title: Sequence Dimension
                          type: object
                          properties:
                            Sequence:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Sequence : Description of Sequence'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/SourceType:
    summary: Source Type
    description: Description of Source Type
    get:
      tags:
        - Unknown
      summary: Source Type (Dimension)
      description: "Description of Source Type  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      SourceTypes:
                        type: array
                        items:
                          title: SourceType
                          type: object
                          properties:
                            SourceType:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Source Type : Description of Source Type'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Sports:
    summary: Sports
    description: The list of sports for which we have data
    get:
      tags:
        - Sports
      summary: Sports (Dimension)
      description: "The list of sports for which we have data  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Sports:
                        type: array
                        items:
                          title: Sports
                          type: object
                          properties:
                            SportingEvents:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Sporting Events : Description of Sporting Events'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/SportsTeam:
    summary: Sports Team
    description: Description of Sports Team
    get:
      tags:
        - Events
      summary: Sports Team (Dimension)
      description: "Description of Sports Team  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      SportsTeams:
                        type: array
                        items:
                          title: SportsTeam
                          type: object
                          properties:
                            SportsTeam:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Sports Team : Description of Sports Team'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/SportTournament:
    summary: Sport Tournament
    description: Description of Sport Tournament
    get:
      tags:
        - Unknown
      summary: Sport Tournament (Dimension)
      description: "Description of Sport Tournament  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      SportTournaments:
                        type: array
                        items:
                          title: SportTournament
                          type: object
                          properties:
                            SportTournament:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Sport Tournament : Description of Sport Tournament'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Time:
    summary: Time
    description: Description of Time
    get:
      tags:
        - Unknown
      summary: Time (Dimension)
      description: "Description of Time  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Times:
                        type: array
                        items:
                          title: Time
                          type: object
                          properties:
                            Day:
                              type: string
                              description: '(*Filterable dimensional attribute*) Day : Description of Day'
                              format: YYYY-MM-DD
                            Month:
                              type: string
                              description: '(*Filterable dimensional attribute*) Month : Description of Month'
                              format: YYYY-MM-DD
                            Quarter:
                              type: string
                              description: '(*Filterable dimensional attribute*) Quarter : Description of Quarter'
                              format: YYYY-MM-DD
                            Week:
                              type: string
                              description: '(*Filterable dimensional attribute*) Week : Description of Week'
                              format: YYYY-MM-DD
                            Year:
                              type: string
                              description: '(*Filterable dimensional attribute*) Year : Description of Year'
                              format: YYYY-MM-DD
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Vaccine:
    summary: Vaccine
    description: Description of Vaccine
    get:
      tags:
        - Unknown
      summary: Vaccine (Dimension)
      description: "Description of Vaccine  \n<br/>*Note: This is a dimension of the cube data model and these attributes can be used to filter data*"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Vaccines:
                        type: array
                        items:
                          title: Vaccine
                          type: object
                          properties:
                            Vaccine:
                              type: integer
                              description: '(*Filterable dimensional attribute*) Vaccine : Description of Vaccine'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/ActivityLog:
    summary: Activity Log
    description: Description of Activity Log
    get:
      tags:
        - Unknown
      summary: Activity Log
      description: Description of Activity Log
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      ActivityLogs:
                        type: array
                        items:
                          title: ActivityLog
                          type: object
                          properties:
                            Day:
                              type: string
                              description: "(*Filterable dimensional attribute*) Day : Description of Day.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            RetrieverType:
                              type: integer
                              description: "(*Filterable dimensional attribute*) Retriever Type : Description of Retriever Type.  \n<br/>*See 'Retriever Type (Dimension)' in this document for the other attributes that might be used for filtering*"
                            SourceType:
                              type: integer
                              description: "(*Filterable dimensional attribute*) Source Type : Description of Source Type.  \n<br/>*See 'Source Type (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Dummy:
                              type: number
                              description: 'Dummy : Description of Dummy'
                            EndStamp:
                              type: string
                              description: 'End Stamp : Description of End Stamp'
                              format: YYYY-MM-DD
                            FailureCount:
                              type: number
                              description: 'Failure Count : Description of Failure Count'
                            GUID:
                              type: string
                              description: 'GUID : Description of GUID'
                            ActivityRuntimeSec:
                              type: number
                              description: 'Activity Runtime Sec : Description of Activity Runtime Sec'
                            StartStamp:
                              type: string
                              description: 'Start Stamp : Description of Start Stamp'
                              format: YYYY-MM-DD
                            SuccessCount:
                              type: number
                              description: 'Success Count : Description of Success Count'
                            TrialFailureCount:
                              type: number
                              description: 'Trial Failure Count : Description of Trial Failure Count'
                            WarningCount:
                              type: number
                              description: 'Warning Count : Description of Warning Count'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/AmenitiesCountyYearly:
    summary: Amenities County Yearly
    description: Description of Amenities County Yearly
    get:
      tags:
        - Unknown
      summary: Amenities County Yearly
      description: Description of Amenities County Yearly
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      AmenitiesCountyYearlies:
                        type: array
                        items:
                          title: AmenitiesCountyYearly
                          type: object
                          properties:
                            County:
                              type: integer
                              description: "(*Filterable dimensional attribute*) County : Description of County.  \n<br/>*See 'Geo (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Year:
                              type: string
                              description: "(*Filterable dimensional attribute*) Year : Description of Year.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            DistDoctor:
                              type: number
                              description: 'Dist Doctor : Distance to nearest Doctor (kms)'
                            DistSchool:
                              type: number
                              description: 'Dist School : Distance to nearest School (kms)'
                            DistSupermkt:
                              type: number
                              description: 'Dist Supermkt : Distance to nearest Supermarket (kms)'
                            SchoolsWithin3km:
                              type: number
                              description: 'Schools Within3km : Average No of Schools within 3 kms'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/AppleMobilityCountry:
    summary: Apple Mobility Country
    description: Description of Apple Mobility Country
    get:
      tags:
        - Unknown
      summary: Apple Mobility Country
      description: Description of Apple Mobility Country
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      AppleMobilityCountries:
                        type: array
                        items:
                          title: AppleMobilityCountry
                          type: object
                          properties:
                            Country:
                              type: integer
                              description: "(*Filterable dimensional attribute*) Country : Description of Country.  \n<br/>*See 'Geo (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Day:
                              type: string
                              description: "(*Filterable dimensional attribute*) Day : Description of Day.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            AppleMobilityDriving:
                              type: number
                              description: 'Apple Mobility Driving : Description of Apple Mobility Driving'
                            AppleMobilityDrivingM:
                              type: number
                              description: 'Apple Mobility Driving M : Apple Mobility - Driving (imputed values) for countries - USA, BEL, NLD, BRA, ARE, AUS, BGR, CAN, CHE, CHL, CZE, DEU, DNK, EGY, ESP, EST, FIN, FRA, GBR, GRC, HRV, HUN, IDN, IND, IRL, ISR, ITA, JPN, KHM, LTU, LVA, MEX, MYS, NOR, NZL, PHL, POL, PRT, ROU, SAU, SVK, SVN, SWE, TUR, URY, VNM, ZAF, ALB, HKG, ISL, KOR, LUX, MAC, MAR, SGP, SRB, THA, TWN, UKR, ARG, AUT, COL, RUS,'
                            AppleMobilityTransit:
                              type: number
                              description: 'Apple Mobility Transit : Description of Apple Mobility Transit'
                            AppleMobilityTransitM:
                              type: number
                              description: 'Apple Mobility Transit M : Apple Mobility - Transit (imputed values) for countries - USA, BEL, NLD, BRA, ARE, AUS, BGR, CAN, CHE, CHL, CZE, DEU, DNK, EGY, ESP, EST, FIN, FRA, GBR, GRC, HRV, HUN, IDN, IND, IRL, ISR, ITA, JPN, KHM, LTU, LVA, MEX, MYS, NOR, NZL, PHL, POL, PRT, ROU, SAU, SVK, SVN, SWE, TUR, URY, VNM, ZAF, ALB, HKG, ISL, KOR, LUX, MAC, MAR, SGP, SRB, THA, TWN, UKR, ARG, AUT, COL, RUS,'
                            AppleMobilityWalking:
                              type: number
                              description: 'Apple Mobility Walking : Description of Apple Mobility Walking'
                            AppleMobilityWalkingM:
                              type: number
                              description: 'Apple Mobility Walking M : Apple Mobility - Walking (imputed values) for countries - USA, BEL, NLD, BRA, ARE, AUS, BGR, CAN, CHE, CHL, CZE, DEU, DNK, EGY, ESP, EST, FIN, FRA, GBR, GRC, HRV, HUN, IDN, IND, IRL, ISR, ITA, JPN, KHM, LTU, LVA, MEX, MYS, NOR, NZL, PHL, POL, PRT, ROU, SAU, SVK, SVN, SWE, TUR, URY, VNM, ZAF, ALB, HKG, ISL, KOR, LUX, MAC, MAR, SGP, SRB, THA, TWN, UKR, ARG, AUT, COL, RUS,'
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/CatalogProp:
    summary: Catalog Prop
    description: Description of Catalog Prop
    get:
      tags:
        - Unknown
      summary: Catalog Prop
      description: Description of Catalog Prop
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CatalogProps:
                        type: array
                        items:
                          title: CatalogProp
                          type: object
                          properties:
                            ContentItem:
                              type: integer
                              description: "(*Filterable dimensional attribute*) Content Item : Description of Content Item.  \n<br/>*See 'Catalog (Dimension)' in this document for the other attributes that might be used for filtering*"
                            ContentDataOrigin:
                              type: string
                              description: 'Content Data Origin : Description of Content Data Origin'
                            ContentDimensionName:
                              type: string
                              description: 'Content Dimension Name : Description of Content Dimension Name'
                            ContentEndDate:
                              type: string
                              description: 'Content End Date : Description of Content End Date'
                              format: YYYY-MM-DD
                            ContentExchangeRateType:
                              type: string
                              description: 'Content Exchange Rate Type : Description of Content Exchange Rate Type'
                            ContentFactor:
                              type: number
                              description: 'Content Factor : Description of Content Factor'
                            ContentFilter:
                              type: string
                              description: 'Content Filter : Description of Content Filter'
                            ContentFrequency:
                              type: string
                              description: 'Content Frequency : Description of Content Frequency'
                            ContentGeoCity:
                              type: string
                              description: 'Content Geo City : Description of Content Geo City'
                            ContentGeoCountry:
                              type: string
                              description: 'Content Geo Country : Description of Content Geo Country'
                            ContentGeoCounty:
                              type: string
                              description: 'Content Geo County : Description of Content Geo County'
                            ContentGeoState:
                              type: string
                              description: 'Content Geo State : Description of Content Geo State'
                            ContentGeoType:
                              type: string
                              description: 'Content Geo Type : Description of Content Geo Type'
                            ContentGeoZip:
                              type: string
                              description: 'Content Geo Zip : Description of Content Geo Zip'
                            ContentIsCurrencyType:
                              type: number
                              description: 'Content Is Currency Type : Description of Content Is Currency Type'
                            ContentLongDescription:
                              type: string
                              description: 'Content Long Description : Description of Content Long Description'
                            ContentMeasureGroup:
                              type: string
                              description: 'Content Measure Group : Description of Content Measure Group'
                            ContentMeasureName:
                              type: string
                              description: 'Content Measure Name : Description of Content Measure Name'
                            ContentNAICSLevel2:
                              type: string
                              description: 'Content NAICS Level2 : Description of Content NAICS Level2'
                            ContentPlan:
                              type: string
                              description: 'Content Plan : Description of Content Plan'
                            ContentPriority:
                              type: number
                              description: 'Content Priority : Description of Content Priority'
                            ContentRawFile:
                              type: string
                              description: 'Content Raw File : Description of Content Raw File'
                            ContentScript:
                              type: string
                              description: 'Content Script : Description of Content Script'
                            ContentSeasonalAdjustmentAllowed:
                              type: number
                              description: 'Content Seasonal Adjustment Allowed : Description of Content Seasonal Adjustment Allowed'
                            ContentSeasonality:
                              type: string
                              description: 'Content Seasonality : Description of Content Seasonality'
                            ContentSeriesID:
                              type: string
                              description: 'Content Series ID : Description of Content Series ID'
                            ContentStartDate:
                              type: string
                              description: 'Content Start Date : Description of Content Start Date'
                              format: YYYY-MM-DD
                            ContentTrendAdjustmentAllowed:
                              type: number
                              description: 'Content Trend Adjustment Allowed : Description of Content Trend Adjustment Allowed'
                            ContentUnits:
                              type: string
                              description: 'Content Units : Description of Content Units'
                            ContentUploaded:
                              type: string
                              description: 'Content Uploaded : Description of Content Uploaded'
                            ContentURL:
                              type: string
                              description: 'Content URL : Description of Content URL'
                            Count:
                              type: number
                              description: 'Count : Description of Count'
                            From Month:
                              type: string
                              description: 'From Month : Description of From Month'
                            From Year:
                              type: number
                              description: 'From Year : Description of From Year'
                            Subscribed:
                              type: string
                              description: 'Subscribed : Description of Subscribed'
                            SubscribedTimeStamp:
                              type: string
                              description: 'Subscribed Time Stamp : Description of Subscribed Time Stamp'
                              format: YYYY-MM-DD
                            To Month:
                              type: string
                              description: 'To Month : Description of To Month'
                            To Subscribe:
                              type: string
                              description: 'To Subscribe : Description of To Subscribe'
                            To Year:
                              type: number
                              description: 'To Year : Description of To Year'
                            ToSubscribeTimeStamp:
                              type: string
                              description: 'To Subscribe Time Stamp : Description of To Subscribe Time Stamp'
                              format: YYYY-MM-DD
                  Cursor:
                    type: string
                    description: When present it signifies a paginated response. Use this value as a query parameter to get the next page of results.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/CommodityPriceMonthly:
    summary: Commodity Price Monthly
    description: Description of Commodity Price Monthly
    get:
      tags:
        - Unknown
      summary: Commodity Price Monthly
      description: Description of Commodity Price Monthly
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CommodityPriceMonthlies:
                        type: array
                        items:
                          title: CommodityPriceMonthly
                          type: object
                          properties:
                            Country:
                              type: integer
                              description: "(*Filterable dimensional attribute*) Country : Description of Country.  \n<br/>*See 'Geo (Dimension)' in this document for the other attributes that might be used for filtering*"
                            Month:
                              type: string
                              description: "(*Filterable dimensional attribute*) Month : Description of Month.  \n<br/>*See 'Time (Dimension)' in this document for the other attributes that might be used for filtering*"
                              format: YYYY-MM-DD
                            GlobalCommodityPriceIndexAgriRawMaterials:
                              type: number
                              description: 'Global Commodity Price Index Agri Raw Materials : Global Commodity Price Index for Agr. Raw Material Index'
                            GlobalCommodityPriceIndexAluminum:
                              type: number
                              description: 'Global Commodity Price Index Aluminum : Global Commodity Price Index for Aluminum'
                            GlobalCommodityPriceIndexApple:
                              type: number
                              description: 'Global Commodity Price Index Apple : Global Commodity Price Index for Non-Citrus Fruit, Apple'
                            GlobalCommodityPriceIndexBananas:
                              type: number
                              description: 'Global Commodity Price Index Bananas : Global Commodity Price Index for Bananas'
                            GlobalCommodityPriceIndexBarley:
                              type: number
                              description: 'Global Commodity Price Index Barley : Global Commodity Price Index for Barley'
                            GlobalCommodityPriceIndexBeef:
                              type: number
                              description: 'Global Commodity Price Index Beef : Global Commodity Price Index for Beef'
                            GlobalCommodityPriceIndexBeverages:
                              type: number
                              description: 'Global Commodity Price Index Beverages : Global Commodity Price Index for Beverages index'
                            GlobalCommodityPriceIndexCereal:
                              type: number
                              description: 'Global Commodity Price Index Cereal : Global Commodity Price Index for Cereal index'
                            GlobalCommodityPriceIndexChickpea:
                              type: number
                              description: 'Global Commodity Price Index Chickpea : Global Commodity Price Index for Legumes, Chickpea'
                            GlobalCommodityPriceIndexCoal:
                              type: number
                              description: 'Global Commodity Price Index Coal : Global Commodity Price Index for Coal index'
                            GlobalCommodityPriceIndexCobalt:
                              type: number
                              description: 'Global Commodity Price Index Cobalt : Global Commodity Price Index for Cobalt'
                            GlobalCommodityPriceIndexCocoa:
                              type: number
                              description: 'Global Commodity Price Index Cocoa : Global Commodity Price Index for Cocoa'
                            GlobalCommodityPriceIndexCoffee:
                              type: number
                              description: 'Global Commodity Price Index Coffee : Global Commodity Price Index for Coffee index'
                            GlobalCommodityPriceIndexCoffeeMildArabica:
                              type: number
                              description: 'Global Commodity Price Index Coffee Mild Arabica : Global Commodity Price Index for Coffee, Other Mild Arabica'
                            GlobalCommodityPriceIndexCoffeeRobustas:
                              type: number
                              description: 'Global Commodity Price Index Coffee Robustas : Global Commodity Price Index for Coffee, Robustas'
                            GlobalCommodityPriceIndexCopper:
                              type: number
                              description: 'Global Commodity Price Index Copper : Global Commodity Price Index for Copper'
                            GlobalCommodityPriceIndexCorn:
                              type: number
                              description: 'Global Commodity Price Index Corn : Global Commodity Price Index for Corn'
                            GlobalCommodityPriceIndexCotton:
                              type: number
                              description: 'Global Commodity Price Index Cotton : Global Commodity Price Index for Cotton'
                            GlobalCommodityPriceIndexDiammoniumPhosphate:
                              type: number
                              description: 'Global Commodity Price Index Diammonium Phosphate : Global Commodity Price Index for Diammonium phosphate'
                            GlobalCommodityPriceIndexFertilizer:
                              type: number
                              description: 'Global Commodity Price Index Fertilizer : Global Commodity Price Index for Fertilizer'
                            GlobalCommodityPriceIndexFish:
                              type: number
                              description: 'Global Commodity Price Index Fish : Global Commodity Price Index for Fish'
                            GlobalCommodityPriceIndexFood:
                              type: number
                              description: 'Global Commodity Price Index Food : Global Commodity Price Index for Food index'
                            GlobalCommodityPriceIndexFood&Beverage:
                              type: number
                              description: 'Global Commodity Price Index Food&Beverage : Global Commodity Price Index for Food and beverage index'
                            GlobalCommodityPriceIndexHardwood:
                              type: number
                              description: 'Global Commodity Price Index Hardwood : Global Commodity Price Index for Hardwood index'
                            GlobalCommodityPriceIndexSeafood:
                              type: number
                              description: 'Global Commodity Price Index Seafood : Global Commodity Price Index for Seafood index'
                            GlobalCommodityPriceIndexSoftLogs:
                              type: number
                              description: 'Global Commodity Price Index Soft Logs : Global Commodity Price Index for Soft Logs'
                            GlobalCommodityPriceIndexSoftwood:
                              type: number
                              description: 'Global Commodity Price Index Softwood : Global Commodity Price Index for Softwood index'
                            GlobalCommodityPriceIndexSorghum:
                              type: number
                              description: 'Global Commodity Price Index Sorghum : Global Commodity Price Index for Sorghum'
                            GlobalCommodityPriceIndexSoybeanOil:
                              type: number
                              description: 'Global Commodity Price Index Soybean Oil : Global Commodity Price Index for Soybeans Oil'
                            GlobalCommodityPriceIndexSoybeans:
                              type: number
                              description: 'Global Commodity Price Index Soybeans : Global Commodity Price Index for Soybeans'
                            GlobalCommodityPriceIndexSugar:
                              type: number
                              description: 'Global Commodity Price Index Sugar : Global Commodity Price Index for Sugar index'
                            GlobalCommodityPriceIndexSunflowerOil:
                              type: number
                              description: 'Global Commodity Price Index Sunflower Oil : Global Commodity Price Index for Sunflower Oil'
                            GlobalCommodityPriceIndexTeaKenyan:
                              type: number
                              description: 'Global Commodity Price Index Tea Kenyan : Global Commodity Price Index for Tea, Kenyan'
                            GlobalCommodityPriceIndexTimber:
                              type: number
                              description: 'Global Commodity Price Index Timber : Global Commodity Price Index for Timber index'
                            GlobalCommodityPriceIndexTin:
                              type: number
                              description: 'Global Commodity Price Index Tin : Global Commodity Price Index for Tin'
                            GlobalCommodityPriceIndexTomato:
                              type: number
                              description: 'Global Commodity Price Index Tomato : Global Commodity Price Index for Vegetables, Tomato'
                            GlobalCommodityPriceIndexUrea:
                              type: number
                              description: 'Global Commodity Price Index Urea : Global Commodity Price Index for Urea'
                            GlobalCommodityPriceIndexWheat:
                              type: number
                              description: 'Global Commodity Price Index Wheat : Global Commodity Price Index for Wheat'
                            GlobalCommodityPriceIndexWool:
                              type: number
                              description: 'Global Commodity Price Index Wool : Global Commodity Price Index for Wool index'
                            GlobalCommodityPriceIndexZinc:
                              type: number
                              description: 'Global Commodity Price Index Zinc : Global Commodity Price Index for Zinc'
                            GlobalCommodityPriceIndexGold:
                              type: number
                              description: 'Global Commodity Price Index Gold : Global Commodity Price Index for Gold'
                            GlobalCommodityPriceIndexGroundnuts:
                              type: number
                              description: 'Global Commodity Price Index Groundnuts : Global Commodity Price Index for Groundnuts'
                            GlobalCommodityPriceIndexHides:
                              type: number
                              description: 'Global Commodity Price Index Hides : Global Commodity Price Index for Hides'
                            GlobalCommodityPriceIndexIronOre:
                              type: number
                              description: 'Global Commodity Price Index Iron Ore : Global Commodity Price Index for Iron Ore'
                            GlobalCommodityPriceIndexLamb:
                              type: number
                              description: 'Global Commodity Price Index Lamb : Global Commodity Price Index for Lamb'
                            GlobalCommodityPriceIndexLead:
                              type: number
                              description: 'Global Commodity Price Index Lead : Global Commodity Price Index for Lead'
                            GlobalCommodityPriceIndexLNGAsia:
                              type: number
                              description: 'Global Commodity Price Index LNG Asia : Global Commodity Price Index for LNG, Asia'
                            GlobalCommodityPriceIndexMeat:
                              type: number
                              description: 'Global Commodity Price Index Meat : Global Commodity Price Index for Meat Index'
                            GlobalCommodityPriceIndexMetal:
                              type: number
                              description: 'Global Commodity Price Index Metal : Global Commodity Price Index for Metal index'
[...]
