openapi: 3.0.1
info:
  title: o9 Market Intelligence
  description: "# Introduction\no9 Market Intelligence is the digital situational awareness needed by digitally enabled businesses. It comprises the information about the consumer behaviour, market structure, cultural events as well as broad economic indicators. This intelligence supplements the internal data generated by operations. Using a 360 degree view of the business results in better decisions.\n\nYou can find out more at [o9 Solutions' Website](https://o9solutions.com/solutions/revenue/market-intelligence/)\n\n## Knowledge Hub\nThe Knowledge Hub is the web service that serves the data and knowledge models for o9 Market Intelligence. This document lists all the APIs of this web service. These APIs require an API Key that you should request from o9.\n\n## Authentication\nThe Knowledge Hub APIs uses Bearer authentication with the token signifier being 'ApiKey'. Contact your o9 partner to get your authentication token. The token should be sent in 'Authorization' key of the HTTP header formatted as under\n\n***Authorization :*** `ApiKey apikey.fromO9solutions`\n   \n## Filtering Results\nThe Knowledge Hub collects data for various countries and categories. Filter conditions are specified as a query parameter in the form of a JSON object.\n\n***Filter using dimension fields returned in the API***\n\n`&filters=[{ \"AttributeName\" : \"City\", \"Values\" : [\" Dallas : TX Dallas County\", \"Boston : MA Suffolk County\"] }]`\n\n***Filter using higher level grouping of the dimension fields [Refer to the respective dimension API]***\n\n`&filters=[{ \"AttributeName\" : \"Country\", \"Values\" : [\"USA\", \"NLD\"], \"DimensionName\" : \"Geo\" }]`\n\n***Filter using Named Sets [Requires knowledge of these names from the data model]***\n\n`&filters=[{ \"AttributeName\" : \"Day\", \"NamedSet\" : \"CurrentDay\" }]`\n\n***Filter using date ranges***\n\n`&filters=[{ \"AttributeName\":\"Day\", \"DateRanges\" : [{\"op\" : \">=\", \"value\" : \"2021-06-01\"},{\"op\" : \"<\", \"value\" : \"2021-06-03\"}], \"DimensionName\" : \"Time\" }]`\n\n***Multiple filter conditions***  \nThe filters object is an array of filter conditions. Multiple filters can be combined together for a more refined search. Some examples:\n\n- Specific values\n\n`&filters=[{ \"AttributeName\" : \"City\", \"Values\" : [\" Dallas : TX Dallas County\"] }, {\"AttributeName\" : \"Day\", \"NamedSet\" : \"CurrentDay\" }]`\n\n- Ranges\n\n`&filters=[{ \"AttributeName\" : \"Country\", \"Values\" : [\"USA\", \"NLD\"], \"DimensionName\" : \"Geo\" }, { \"AttributeName\":\"Day\", \"DateRanges\" : [{\"op\" : \">=\", \"value\" : \"2020-07-01\"}], \"DimensionName\" : \"Time\" }]`\n"
  version: Beta
  x-logo-url: https://o9designlab.com/wp-content/uploads/2020/08/Design-Lab_Brand-Guidelines_v3_assets_logo-1.svg
servers:
  - url: https://marketintel.trial.o9solutions.com/api/v2
    description: The Knowledge Hub webservice endpoint
paths:
  /master/MarketIntel/Age:
    summary: Age title
    description: Age description
    get:
      tags:
        - Consumer Metrics
      summary: '''Age title'' Dimension'
      description: "Age description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Ages:
                        type: array
                        items:
                          title: Age
                          type: object
                          properties:
                            Age:
                              type: integer
                              description: '(Filterable) Age title : Age description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Brand:
    summary: Brand title
    description: Brand description
    get:
      tags:
        - Unknown
      summary: '''Brand title'' Dimension'
      description: "Brand description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Brands:
                        type: array
                        items:
                          title: Brand
                          type: object
                          properties:
                            Brand:
                              type: integer
                              description: '(Filterable) Brand title : Brand description'
                            BrandFamily:
                              type: integer
                              description: '(Filterable) BrandFamily title : BrandFamily description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Catalog:
    summary: Catalog title
    description: Catalog description
    get:
      tags:
        - Unknown
      summary: '''Catalog title'' Dimension'
      description: "Catalog description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Catalog descs:
                        type: array
                        items:
                          title: Catalog desc
                          type: object
                          properties:
                            ContentCategory:
                              type: integer
                              description: '(Filterable) ContentCategory title : ContentCategory description'
                            ContentItem:
                              type: integer
                              description: '(Filterable) ContentItem title : ContentItem description'
                            ContentSource:
                              type: integer
                              description: '(Filterable) ContentSource title : ContentSource description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Drivetrain:
    summary: Drivetrain title
    description: Drivetrain description
    get:
      tags:
        - Unknown
      summary: '''Drivetrain title'' Dimension'
      description: "Drivetrain description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Drivetrains:
                        type: array
                        items:
                          title: Drivetrain
                          type: object
                          properties:
                            Drivetrain:
                              type: integer
                              description: '(Filterable) Drivetrain title : Drivetrain description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/FSProject:
    summary: FSProject title
    description: FSProject description
    get:
      tags:
        - Unknown
      summary: '''FSProject title'' Dimension'
      description: "FSProject description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      FSProjects:
                        type: array
                        items:
                          title: FSProject
                          type: object
                          properties:
                            FSForecastModel:
                              type: integer
                              description: '(Filterable) FSForecastModel title : FSForecastModel description'
                            FSProjectCustomer:
                              type: integer
                              description: '(Filterable) FSProjectCustomer title : FSProjectCustomer description'
                            FSProjectIterationID:
                              type: integer
                              description: '(Filterable) FSProjectIterationID title : FSProjectIterationID description'
                            FSProjectModelID:
                              type: integer
                              description: '(Filterable) FSProjectModelID title : FSProjectModelID description'
                            FSProjectType:
                              type: integer
                              description: '(Filterable) FSProjectType title : FSProjectType description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Geo:
    summary: Geo title
    description: Geo description
    get:
      tags:
        - Unknown
      summary: '''Geo title'' Dimension'
      description: "Geo description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Geos:
                        type: array
                        items:
                          title: Geo
                          type: object
                          properties:
                            City:
                              type: integer
                              description: '(Filterable) City title : City description'
                            Continent:
                              type: integer
                              description: '(Filterable) Continent title : Continent description'
                            Country:
                              type: integer
                              description: '(Filterable) Country title : Country description'
                            County:
                              type: integer
                              description: '(Filterable) County title : County description'
                            State:
                              type: integer
                              description: '(Filterable) State title : State description'
                            Zip:
                              type: integer
                              description: '(Filterable) Zip title : Zip description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/HealthInsuranceType:
    summary: Health Insurance
    description: HealthInsuranceType description
    get:
      tags:
        - Unknown
      summary: '''Health Insurance'' Dimension'
      description: "HealthInsuranceType description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      HealthInsuranceTypes:
                        type: array
                        items:
                          title: HealthInsuranceType
                          type: object
                          properties:
                            HealthInsuranceType:
                              type: integer
                              description: '(Filterable) HealthInsuranceType title : HealthInsuranceType description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Holidays:
    summary: Holidays title
    description: Holidays description
    get:
      tags:
        - Unknown
      summary: '''Holidays title'' Dimension'
      description: "Holidays description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Holidays:
                        type: array
                        items:
                          title: Holidays
                          type: object
                          properties:
                            HolidayName:
                              type: integer
                              description: '(Filterable) HolidayName title : HolidayName description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/ICD10:
    summary: ICD10 title
    description: ICD10 description
    get:
      tags:
        - Unknown
      summary: '''ICD10 title'' Dimension'
      description: "ICD10 description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      ICD10s:
                        type: array
                        items:
                          title: ICD10
                          type: object
                          properties:
                            BroadCause:
                              type: integer
                              description: '(Filterable) BroadCause title : BroadCause description'
                            RootCause:
                              type: integer
                              description: '(Filterable) RootCause title : RootCause description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/IncomeGrp:
    summary: IncomeGrp title
    description: IncomeGrp description
    get:
      tags:
        - Unknown
      summary: '''IncomeGrp title'' Dimension'
      description: "IncomeGrp description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      IncomeGrps:
                        type: array
                        items:
                          title: IncomeGrp
                          type: object
                          properties:
                            IncomeGrp:
                              type: integer
                              description: '(Filterable) IncomeGrp title : IncomeGrp description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Industry:
    summary: Industry title
    description: Industry description
    get:
      tags:
        - Unknown
      summary: '''Industry title'' Dimension'
      description: "Industry description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Industrys:
                        type: array
                        items:
                          title: Industry
                          type: object
                          properties:
                            IL1:
                              type: integer
                              description: '(Filterable) IL1 title : IL1 description'
                            IL2:
                              type: integer
                              description: '(Filterable) IL2 title : IL2 description'
                            IL3:
                              type: integer
                              description: '(Filterable) IL3 title : IL3 description'
                            IL4:
                              type: integer
                              description: '(Filterable) IL4 title : IL4 description'
                            IL5:
                              type: integer
                              description: '(Filterable) IL5 title : IL5 description'
                            StoreBatchID:
                              type: integer
                              description: '(Filterable) StoreBatchID title : StoreBatchID description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/IndustryDriver:
    summary: IndustryDriver title
    description: IndustryDriver description
    get:
      tags:
        - Unknown
      summary: '''IndustryDriver title'' Dimension'
      description: "IndustryDriver description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      IndustryDrivers:
                        type: array
                        items:
                          title: IndustryDriver
                          type: object
                          properties:
                            Driver:
                              type: integer
                              description: '(Filterable) Driver title : Driver description'
                            Driver Group:
                              type: integer
                              description: '(Filterable) Driver Group title : Driver Group description'
                            Driver Sub-Group:
                              type: integer
                              description: '(Filterable) Driver Sub-Group title : Driver Sub-Group description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Location:
    summary: Location title
    description: Location description
    get:
      tags:
        - Unknown
      summary: '''Location title'' Dimension'
      description: "Location description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Locations:
                        type: array
                        items:
                          title: Location
                          type: object
                          properties:
                            Location:
                              type: integer
                              description: '(Filterable) Location title : Location description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Personnel:
    summary: Personnel title
    description: Personnel description
    get:
      tags:
        - Unknown
      summary: '''Personnel title'' Dimension'
      description: "Personnel description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Personnels:
                        type: array
                        items:
                          title: Personnel
                          type: object
                          properties:
                            Email:
                              type: integer
                              description: '(Filterable) Email title : Email description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Product:
    summary: Product title
    description: Product description
    get:
      tags:
        - Unknown
      summary: '''Product title'' Dimension'
      description: "Product description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Products:
                        type: array
                        items:
                          title: Product
                          type: object
                          properties:
                            PL1:
                              type: integer
                              description: '(Filterable) PL1 title : PL1 description'
                            PL2:
                              type: integer
                              description: '(Filterable) PL2 title : PL2 description'
                            PL3:
                              type: integer
                              description: '(Filterable) PL3 title : PL3 description'
                            PL4:
                              type: integer
                              description: '(Filterable) PL4 title : PL4 description'
                            PL5:
                              type: integer
                              description: '(Filterable) PL5 title : PL5 description'
                            PL6:
                              type: integer
                              description: '(Filterable) PL6 title : PL6 description'
                            PL7:
                              type: integer
                              description: '(Filterable) PL7 title : PL7 description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Race:
    summary: Race title
    description: Race description
    get:
      tags:
        - Unknown
      summary: '''Race title'' Dimension'
      description: "Race description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Races:
                        type: array
                        items:
                          title: Race
                          type: object
                          properties:
                            Race:
                              type: integer
                              description: '(Filterable) Race title : Race description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/RetrieverType:
    summary: RetrieverType title
    description: RetrieverType description
    get:
      tags:
        - Unknown
      summary: '''RetrieverType title'' Dimension'
      description: "RetrieverType description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      RetrieverTypes:
                        type: array
                        items:
                          title: RetrieverType
                          type: object
                          properties:
                            RetrieverType:
                              type: integer
                              description: '(Filterable) RetrieverType title : RetrieverType description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/RootCause:
    summary: RootCause title
    description: RootCause description
    get:
      tags:
        - Unknown
      summary: '''RootCause title'' Dimension'
      description: "RootCause description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      RootCause Dimensions:
                        type: array
                        items:
                          title: RootCause Dimension
                          type: object
                          properties:
                            Problem Type:
                              type: integer
                              description: '(Filterable) Problem Type title : Problem Type description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/SearchTag:
    summary: SearchTag title
    description: SearchTag description
    get:
      tags:
        - Unknown
      summary: '''SearchTag title'' Dimension'
      description: "SearchTag description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      SearchTags:
                        type: array
                        items:
                          title: SearchTag
                          type: object
                          properties:
                            Tag:
                              type: integer
                              description: '(Filterable) Tag title : Tag description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Sequence:
    summary: Sequence title
    description: Sequence description
    get:
      tags:
        - Unknown
      summary: '''Sequence title'' Dimension'
      description: "Sequence description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Sequence Dimensions:
                        type: array
                        items:
                          title: Sequence Dimension
                          type: object
                          properties:
                            Sequence:
                              type: integer
                              description: '(Filterable) Sequence title : Sequence description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/SourceType:
    summary: SourceType title
    description: SourceType description
    get:
      tags:
        - Unknown
      summary: '''SourceType title'' Dimension'
      description: "SourceType description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      SourceTypes:
                        type: array
                        items:
                          title: SourceType
                          type: object
                          properties:
                            SourceType:
                              type: integer
                              description: '(Filterable) SourceType title : SourceType description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Sports:
    summary: Sports title
    description: Sports description
    get:
      tags:
        - Unknown
      summary: '''Sports title'' Dimension'
      description: "Sports description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Sports:
                        type: array
                        items:
                          title: Sports
                          type: object
                          properties:
                            SportingEvents:
                              type: integer
                              description: '(Filterable) SportingEvents title : SportingEvents description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/SportsTeam:
    summary: SportsTeam title
    description: SportsTeam description
    get:
      tags:
        - Unknown
      summary: '''SportsTeam title'' Dimension'
      description: "SportsTeam description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      SportsTeams:
                        type: array
                        items:
                          title: SportsTeam
                          type: object
                          properties:
                            SportsTeam:
                              type: integer
                              description: '(Filterable) SportsTeam title : SportsTeam description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/SportTournament:
    summary: SportTournament title
    description: SportTournament description
    get:
      tags:
        - Unknown
      summary: '''SportTournament title'' Dimension'
      description: "SportTournament description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      SportTournaments:
                        type: array
                        items:
                          title: SportTournament
                          type: object
                          properties:
                            SportTournament:
                              type: integer
                              description: '(Filterable) SportTournament title : SportTournament description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Time:
    summary: Time title
    description: Time description
    get:
      tags:
        - Unknown
      summary: '''Time title'' Dimension'
      description: "Time description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Times:
                        type: array
                        items:
                          title: Time
                          type: object
                          properties:
                            Day:
                              type: string
                              description: '(Filterable) Day title : Day description'
                              format: YYYY-MM-DD
                            Month:
                              type: string
                              description: '(Filterable) Month title : Month description'
                              format: YYYY-MM-DD
                            Quarter:
                              type: string
                              description: '(Filterable) Quarter title : Quarter description'
                              format: YYYY-MM-DD
                            Week:
                              type: string
                              description: '(Filterable) Week title : Week description'
                              format: YYYY-MM-DD
                            Year:
                              type: string
                              description: '(Filterable) Year title : Year description'
                              format: YYYY-MM-DD
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/Vaccine:
    summary: Vaccine title
    description: Vaccine description
    get:
      tags:
        - Unknown
      summary: '''Vaccine title'' Dimension'
      description: "Vaccine description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Vaccines:
                        type: array
                        items:
                          title: Vaccine
                          type: object
                          properties:
                            Vaccine:
                              type: integer
                              description: '(Filterable) Vaccine title : Vaccine description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/WCustomer:
    summary: WCustomer title
    description: WCustomer description
    get:
      tags:
        - Unknown
      summary: '''WCustomer title'' Dimension'
      description: "WCustomer description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      WCustomers:
                        type: array
                        items:
                          title: WCustomer
                          type: object
                          properties:
                            WCustomer:
                              type: integer
                              description: '(Filterable) WCustomer title : WCustomer description'
                            WRequestID:
                              type: integer
                              description: '(Filterable) WRequestID title : WRequestID description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/WDE:
    summary: WDE title
    description: WDE description
    get:
      tags:
        - Unknown
      summary: '''WDE title'' Dimension'
      description: "WDE description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Weather Driver Engineerings:
                        type: array
                        items:
                          title: Weather Driver Engineering
                          type: object
                          properties:
                            WDE_Customer:
                              type: integer
                              description: '(Filterable) WDE_Customer title : WDE_Customer description'
                            WDE_Project_ID:
                              type: integer
                              description: '(Filterable) WDE_Project_ID title : WDE_Project_ID description'
                            WDE_Project_Name:
                              type: integer
                              description: '(Filterable) WDE_Project_Name title : WDE_Project_Name description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/WDELocation:
    summary: WDELocation title
    description: WDELocation description
    get:
      tags:
        - Unknown
      summary: '''WDELocation title'' Dimension'
      description: "WDELocation description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      WDE Locations:
                        type: array
                        items:
                          title: WDE Location
                          type: object
                          properties:
                            WDE Location:
                              type: integer
                              description: '(Filterable) WDE Location title : WDE Location description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/WDENetwork:
    summary: WDENetwork title
    description: WDENetwork description
    get:
      tags:
        - Unknown
      summary: '''WDENetwork title'' Dimension'
      description: "WDENetwork description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      WDE Networks:
                        type: array
                        items:
                          title: WDE Network
                          type: object
                          properties:
                            WDE Network:
                              type: integer
                              description: '(Filterable) WDE Network title : WDE Network description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /master/MarketIntel/WDESerialNumber:
    summary: WDESerialNumber title
    description: WDESerialNumber description
    get:
      tags:
        - Unknown
      summary: '''WDESerialNumber title'' Dimension'
      description: "WDESerialNumber description\n\nThis is a dimension of the cube model"
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      WDE Serial Numbers:
                        type: array
                        items:
                          title: WDE Serial Number
                          type: object
                          properties:
                            WDE Serial Number:
                              type: integer
                              description: '(Filterable) WDE Serial Number title : WDE Serial Number description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/ActivityLog:
    summary: ActivityLog title
    description: ActivityLog description
    get:
      tags:
        - Unknown
      summary: ActivityLog title
      description: ActivityLog description
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      ActivityLogs:
                        type: array
                        items:
                          title: ActivityLog
                          type: object
                          properties:
                            RetrieverType:
                              type: integer
                              description: '(Filterable dimension attribute) RetrieverType title : RetrieverType description'
                            SourceType:
                              type: integer
                              description: '(Filterable dimension attribute) SourceType title : SourceType description'
                            Day:
                              type: string
                              description: '(Filterable dimension attribute) Day title : Day description'
                              format: YYYY-MM-DD
                            ActivityRuntimeSec:
                              type: number
                              description: 'ActivityRuntimeSec title : ActivityRuntimeSec description'
                            Dummy:
                              type: number
                              description: 'Dummy title : Dummy description'
                            EndStamp:
                              type: string
                              description: 'EndStamp title : EndStamp description'
                              format: YYYY-MM-DD
                            FailureCount:
                              type: number
                              description: 'FailureCount title : FailureCount description'
                            GUID:
                              type: string
                              description: 'GUID title : GUID description'
                            StartStamp:
                              type: string
                              description: 'StartStamp title : StartStamp description'
                              format: YYYY-MM-DD
                            SuccessCount:
                              type: number
                              description: 'SuccessCount title : SuccessCount description'
                            TrialFailureCount:
                              type: number
                              description: 'TrialFailureCount title : TrialFailureCount description'
                            WarningCount:
                              type: number
                              description: 'WarningCount title : WarningCount description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/AmenitiesCountyYearly:
    summary: AmenitiesCountyYearly title
    description: AmenitiesCountyYearly description
    get:
      tags:
        - Unknown
      summary: AmenitiesCountyYearly title
      description: AmenitiesCountyYearly description
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      AmenitiesCountyYearlys:
                        type: array
                        items:
                          title: AmenitiesCountyYearly
                          type: object
                          properties:
                            County:
                              type: integer
                              description: '(Filterable dimension attribute) County title : County description'
                            Year:
                              type: string
                              description: '(Filterable dimension attribute) Year title : Year description'
                              format: YYYY-MM-DD
                            DistDoctor:
                              type: number
                              description: 'DistDoctor title : DistDoctor description'
                            DistSchool:
                              type: number
                              description: 'DistSchool title : DistSchool description'
                            DistSupermkt:
                              type: number
                              description: 'DistSupermkt title : DistSupermkt description'
                            SchoolsWithin3km:
                              type: number
                              description: 'SchoolsWithin3km title : SchoolsWithin3km description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/AppleMobilityCountry:
    summary: AppleMobilityCountry title
    description: AppleMobilityCountry description
    get:
      tags:
        - Unknown
      summary: AppleMobilityCountry title
      description: AppleMobilityCountry description
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      AppleMobilityCountrys:
                        type: array
                        items:
                          title: AppleMobilityCountry
                          type: object
                          properties:
                            Country:
                              type: integer
                              description: '(Filterable dimension attribute) Country title : Country description'
                            Day:
                              type: string
                              description: '(Filterable dimension attribute) Day title : Day description'
                              format: YYYY-MM-DD
                            AppleMobilityDriving:
                              type: number
                              description: 'AppleMobilityDriving title : AppleMobilityDriving description'
                            AppleMobilityDrivingM:
                              type: number
                              description: 'AppleMobilityDrivingM title : AppleMobilityDrivingM description'
                            AppleMobilityTransit:
                              type: number
                              description: 'AppleMobilityTransit title : AppleMobilityTransit description'
                            AppleMobilityTransitM:
                              type: number
                              description: 'AppleMobilityTransitM title : AppleMobilityTransitM description'
                            AppleMobilityWalking:
                              type: number
                              description: 'AppleMobilityWalking title : AppleMobilityWalking description'
                            AppleMobilityWalkingM:
                              type: number
                              description: 'AppleMobilityWalkingM title : AppleMobilityWalkingM description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/CatalogProp:
    summary: CatalogProp title
    description: CatalogProp description
    get:
      tags:
        - Unknown
      summary: CatalogProp title
      description: CatalogProp description
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CatalogProps:
                        type: array
                        items:
                          title: CatalogProp
                          type: object
                          properties:
                            ContentItem:
                              type: integer
                              description: '(Filterable dimension attribute) ContentItem title : ContentItem description'
                            ContentDataOrigin:
                              type: string
                              description: 'ContentDataOrigin title : ContentDataOrigin description'
                            ContentDimensionName:
                              type: string
                              description: 'ContentDimensionName title : ContentDimensionName description'
                            ContentEndDate:
                              type: string
                              description: 'ContentEndDate title : ContentEndDate description'
                              format: YYYY-MM-DD
                            ContentExchangeRateType:
                              type: string
                              description: 'ContentExchangeRateType title : ContentExchangeRateType description'
                            ContentFactor:
                              type: number
                              description: 'ContentFactor title : ContentFactor description'
                            ContentFilter:
                              type: string
                              description: 'ContentFilter title : ContentFilter description'
                            ContentFrequency:
                              type: string
                              description: 'ContentFrequency title : ContentFrequency description'
                            ContentGeoCity:
                              type: string
                              description: 'ContentGeoCity title : ContentGeoCity description'
                            ContentGeoCountry:
                              type: string
                              description: 'ContentGeoCountry title : ContentGeoCountry description'
                            ContentGeoCounty:
                              type: string
                              description: 'ContentGeoCounty title : ContentGeoCounty description'
                            ContentGeoState:
                              type: string
                              description: 'ContentGeoState title : ContentGeoState description'
                            ContentGeoType:
                              type: string
                              description: 'ContentGeoType title : ContentGeoType description'
                            ContentGeoZip:
                              type: string
                              description: 'ContentGeoZip title : ContentGeoZip description'
                            ContentIsCurrencyType:
                              type: number
                              description: 'ContentIsCurrencyType title : ContentIsCurrencyType description'
                            ContentLongDescription:
                              type: string
                              description: 'ContentLongDescription title : ContentLongDescription description'
                            ContentMeasureGroup:
                              type: string
                              description: 'ContentMeasureGroup title : ContentMeasureGroup description'
                            ContentMeasureName:
                              type: string
                              description: 'ContentMeasureName title : ContentMeasureName description'
                            ContentNAICSLevel2:
                              type: string
                              description: 'ContentNAICSLevel2 title : ContentNAICSLevel2 description'
                            ContentPlan:
                              type: string
                              description: 'ContentPlan title : ContentPlan description'
                            ContentPriority:
                              type: number
                              description: 'ContentPriority title : ContentPriority description'
                            ContentRawFile:
                              type: string
                              description: 'ContentRawFile title : ContentRawFile description'
                            ContentScript:
                              type: string
                              description: 'ContentScript title : ContentScript description'
                            ContentSeasonalAdjustmentAllowed:
                              type: number
                              description: 'ContentSeasonalAdjustmentAllowed title : ContentSeasonalAdjustmentAllowed description'
                            ContentSeasonality:
                              type: string
                              description: 'ContentSeasonality title : ContentSeasonality description'
                            ContentSeriesID:
                              type: string
                              description: 'ContentSeriesID title : ContentSeriesID description'
                            ContentStartDate:
                              type: string
                              description: 'ContentStartDate title : ContentStartDate description'
                              format: YYYY-MM-DD
                            ContentTrendAdjustmentAllowed:
                              type: number
                              description: 'ContentTrendAdjustmentAllowed title : ContentTrendAdjustmentAllowed description'
                            ContentUnits:
                              type: string
                              description: 'ContentUnits title : ContentUnits description'
                            ContentUploaded:
                              type: string
                              description: 'ContentUploaded title : ContentUploaded description'
                            ContentURL:
                              type: string
                              description: 'ContentURL title : ContentURL description'
                            Count:
                              type: number
                              description: 'Count title : Count description'
                            From Month:
                              type: string
                              description: 'From Month title : From Month description'
                            From Year:
                              type: number
                              description: 'From Year title : From Year description'
                            Subscribed:
                              type: string
                              description: 'Subscribed title : Subscribed description'
                            SubscribedTimeStamp:
                              type: string
                              description: 'SubscribedTimeStamp title : SubscribedTimeStamp description'
                              format: YYYY-MM-DD
                            To Month:
                              type: string
                              description: 'To Month title : To Month description'
                            To Subscribe:
                              type: string
                              description: 'To Subscribe title : To Subscribe description'
                            To Year:
                              type: number
                              description: 'To Year title : To Year description'
                            ToSubscribeTimeStamp:
                              type: string
                              description: 'ToSubscribeTimeStamp title : ToSubscribeTimeStamp description'
                              format: YYYY-MM-DD
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/CommodityPriceMonthly:
    summary: CommodityPriceMonthly title
    description: CommodityPriceMonthly description
    get:
      tags:
        - Unknown
      summary: CommodityPriceMonthly title
      description: CommodityPriceMonthly description
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      CommodityPriceMonthlys:
                        type: array
                        items:
                          title: CommodityPriceMonthly
                          type: object
                          properties:
                            Country:
                              type: integer
                              description: '(Filterable dimension attribute) Country title : Country description'
                            Month:
                              type: string
                              description: '(Filterable dimension attribute) Month title : Month description'
                              format: YYYY-MM-DD
                            GlobalCommodityPriceIndexAgriRawMaterials:
                              type: number
                              description: 'GlobalCommodityPriceIndexAgriRawMaterials title : GlobalCommodityPriceIndexAgriRawMaterials description'
                            GlobalCommodityPriceIndexAluminum:
                              type: number
                              description: 'GlobalCommodityPriceIndexAluminum title : GlobalCommodityPriceIndexAluminum description'
                            GlobalCommodityPriceIndexApple:
                              type: number
                              description: 'GlobalCommodityPriceIndexApple title : GlobalCommodityPriceIndexApple description'
                            GlobalCommodityPriceIndexBananas:
                              type: number
                              description: 'GlobalCommodityPriceIndexBananas title : GlobalCommodityPriceIndexBananas description'
                            GlobalCommodityPriceIndexBarley:
                              type: number
                              description: 'GlobalCommodityPriceIndexBarley title : GlobalCommodityPriceIndexBarley description'
                            GlobalCommodityPriceIndexBeef:
                              type: number
                              description: 'GlobalCommodityPriceIndexBeef title : GlobalCommodityPriceIndexBeef description'
                            GlobalCommodityPriceIndexBeverages:
                              type: number
                              description: 'GlobalCommodityPriceIndexBeverages title : GlobalCommodityPriceIndexBeverages description'
                            GlobalCommodityPriceIndexCereal:
                              type: number
                              description: 'GlobalCommodityPriceIndexCereal title : GlobalCommodityPriceIndexCereal description'
                            GlobalCommodityPriceIndexChickpea:
                              type: number
                              description: 'GlobalCommodityPriceIndexChickpea title : GlobalCommodityPriceIndexChickpea description'
                            GlobalCommodityPriceIndexCoal:
                              type: number
                              description: 'GlobalCommodityPriceIndexCoal title : GlobalCommodityPriceIndexCoal description'
                            GlobalCommodityPriceIndexCobalt:
                              type: number
                              description: 'GlobalCommodityPriceIndexCobalt title : GlobalCommodityPriceIndexCobalt description'
                            GlobalCommodityPriceIndexCocoa:
                              type: number
                              description: 'GlobalCommodityPriceIndexCocoa title : GlobalCommodityPriceIndexCocoa description'
                            GlobalCommodityPriceIndexCoffee:
                              type: number
                              description: 'GlobalCommodityPriceIndexCoffee title : GlobalCommodityPriceIndexCoffee description'
                            GlobalCommodityPriceIndexCoffeeMildArabica:
                              type: number
                              description: 'GlobalCommodityPriceIndexCoffeeMildArabica title : GlobalCommodityPriceIndexCoffeeMildArabica description'
                            GlobalCommodityPriceIndexCoffeeRobustas:
                              type: number
                              description: 'GlobalCommodityPriceIndexCoffeeRobustas title : GlobalCommodityPriceIndexCoffeeRobustas description'
                            GlobalCommodityPriceIndexCopper:
                              type: number
                              description: 'GlobalCommodityPriceIndexCopper title : GlobalCommodityPriceIndexCopper description'
                            GlobalCommodityPriceIndexCorn:
                              type: number
                              description: 'GlobalCommodityPriceIndexCorn title : GlobalCommodityPriceIndexCorn description'
                            GlobalCommodityPriceIndexCotton:
                              type: number
                              description: 'GlobalCommodityPriceIndexCotton title : GlobalCommodityPriceIndexCotton description'
                            GlobalCommodityPriceIndexDiammoniumPhosphate:
                              type: number
                              description: 'GlobalCommodityPriceIndexDiammoniumPhosphate title : GlobalCommodityPriceIndexDiammoniumPhosphate description'
                            GlobalCommodityPriceIndexFertilizer:
                              type: number
                              description: 'GlobalCommodityPriceIndexFertilizer title : GlobalCommodityPriceIndexFertilizer description'
                            GlobalCommodityPriceIndexFish:
                              type: number
                              description: 'GlobalCommodityPriceIndexFish title : GlobalCommodityPriceIndexFish description'
                            GlobalCommodityPriceIndexFood:
                              type: number
                              description: 'GlobalCommodityPriceIndexFood title : GlobalCommodityPriceIndexFood description'
                            GlobalCommodityPriceIndexFood&Beverage:
                              type: number
                              description: 'GlobalCommodityPriceIndexFood&Beverage title : GlobalCommodityPriceIndexFood&Beverage description'
                            GlobalCommodityPriceIndexGold:
                              type: number
                              description: 'GlobalCommodityPriceIndexGold title : GlobalCommodityPriceIndexGold description'
                            GlobalCommodityPriceIndexGroundnuts:
                              type: number
                              description: 'GlobalCommodityPriceIndexGroundnuts title : GlobalCommodityPriceIndexGroundnuts description'
                            GlobalCommodityPriceIndexHardwood:
                              type: number
                              description: 'GlobalCommodityPriceIndexHardwood title : GlobalCommodityPriceIndexHardwood description'
                            GlobalCommodityPriceIndexHides:
                              type: number
                              description: 'GlobalCommodityPriceIndexHides title : GlobalCommodityPriceIndexHides description'
                            GlobalCommodityPriceIndexIronOre:
                              type: number
                              description: 'GlobalCommodityPriceIndexIronOre title : GlobalCommodityPriceIndexIronOre description'
                            GlobalCommodityPriceIndexLamb:
                              type: number
                              description: 'GlobalCommodityPriceIndexLamb title : GlobalCommodityPriceIndexLamb description'
                            GlobalCommodityPriceIndexLead:
                              type: number
                              description: 'GlobalCommodityPriceIndexLead title : GlobalCommodityPriceIndexLead description'
                            GlobalCommodityPriceIndexLNGAsia:
                              type: number
                              description: 'GlobalCommodityPriceIndexLNGAsia title : GlobalCommodityPriceIndexLNGAsia description'
                            GlobalCommodityPriceIndexMeat:
                              type: number
                              description: 'GlobalCommodityPriceIndexMeat title : GlobalCommodityPriceIndexMeat description'
                            GlobalCommodityPriceIndexMetal:
                              type: number
                              description: 'GlobalCommodityPriceIndexMetal title : GlobalCommodityPriceIndexMetal description'
                            GlobalCommodityPriceIndexMilk:
                              type: number
                              description: 'GlobalCommodityPriceIndexMilk title : GlobalCommodityPriceIndexMilk description'
                            GlobalCommodityPriceIndexMolybdenum:
                              type: number
                              description: 'GlobalCommodityPriceIndexMolybdenum title : GlobalCommodityPriceIndexMolybdenum description'
                            GlobalCommodityPriceIndexNaturalGas:
                              type: number
                              description: 'GlobalCommodityPriceIndexNaturalGas title : GlobalCommodityPriceIndexNaturalGas description'
                            GlobalCommodityPriceIndexNaturalGasEU:
                              type: number
                              description: 'GlobalCommodityPriceIndexNaturalGasEU title : GlobalCommodityPriceIndexNaturalGasEU description'
                            GlobalCommodityPriceIndexNickel:
                              type: number
                              description: 'GlobalCommodityPriceIndexNickel title : GlobalCommodityPriceIndexNickel description'
                            GlobalCommodityPriceIndexOats:
                              type: number
                              description: 'GlobalCommodityPriceIndexOats title : GlobalCommodityPriceIndexOats description'
                            GlobalCommodityPriceIndexOliveOil:
                              type: number
                              description: 'GlobalCommodityPriceIndexOliveOil title : GlobalCommodityPriceIndexOliveOil description'
                            GlobalCommodityPriceIndexOrange:
                              type: number
                              description: 'GlobalCommodityPriceIndexOrange title : GlobalCommodityPriceIndexOrange description'
                            GlobalCommodityPriceIndexPalmOil:
                              type: number
                              description: 'GlobalCommodityPriceIndexPalmOil title : GlobalCommodityPriceIndexPalmOil description'
                            GlobalCommodityPriceIndexPork:
                              type: number
                              description: 'GlobalCommodityPriceIndexPork title : GlobalCommodityPriceIndexPork description'
                            GlobalCommodityPriceIndexPotassiumFertilizer:
                              type: number
                              description: 'GlobalCommodityPriceIndexPotassiumFertilizer title : GlobalCommodityPriceIndexPotassiumFertilizer description'
                            GlobalCommodityPriceIndexPoultry:
                              type: number
                              description: 'GlobalCommodityPriceIndexPoultry title : GlobalCommodityPriceIndexPoultry description'
                            GlobalCommodityPriceIndexPreciousMetals:
                              type: number
                              description: 'GlobalCommodityPriceIndexPreciousMetals title : GlobalCommodityPriceIndexPreciousMetals description'
                            GlobalCommodityPriceIndexPropane:
                              type: number
                              description: 'GlobalCommodityPriceIndexPropane title : GlobalCommodityPriceIndexPropane description'
                            GlobalCommodityPriceIndexRiceThailand:
                              type: number
                              description: 'GlobalCommodityPriceIndexRiceThailand title : GlobalCommodityPriceIndexRiceThailand description'
                            GlobalCommodityPriceIndexRubber:
                              type: number
                              description: 'GlobalCommodityPriceIndexRubber title : GlobalCommodityPriceIndexRubber description'
                            GlobalCommodityPriceIndexSeafood:
                              type: number
                              description: 'GlobalCommodityPriceIndexSeafood title : GlobalCommodityPriceIndexSeafood description'
                            GlobalCommodityPriceIndexSoftLogs:
                              type: number
                              description: 'GlobalCommodityPriceIndexSoftLogs title : GlobalCommodityPriceIndexSoftLogs description'
                            GlobalCommodityPriceIndexSoftwood:
                              type: number
                              description: 'GlobalCommodityPriceIndexSoftwood title : GlobalCommodityPriceIndexSoftwood description'
                            GlobalCommodityPriceIndexSorghum:
                              type: number
                              description: 'GlobalCommodityPriceIndexSorghum title : GlobalCommodityPriceIndexSorghum description'
                            GlobalCommodityPriceIndexSoybeanOil:
                              type: number
                              description: 'GlobalCommodityPriceIndexSoybeanOil title : GlobalCommodityPriceIndexSoybeanOil description'
                            GlobalCommodityPriceIndexSoybeans:
                              type: number
                              description: 'GlobalCommodityPriceIndexSoybeans title : GlobalCommodityPriceIndexSoybeans description'
                            GlobalCommodityPriceIndexSugar:
                              type: number
                              description: 'GlobalCommodityPriceIndexSugar title : GlobalCommodityPriceIndexSugar description'
                            GlobalCommodityPriceIndexSunflowerOil:
                              type: number
                              description: 'GlobalCommodityPriceIndexSunflowerOil title : GlobalCommodityPriceIndexSunflowerOil description'
                            GlobalCommodityPriceIndexTeaKenyan:
                              type: number
                              description: 'GlobalCommodityPriceIndexTeaKenyan title : GlobalCommodityPriceIndexTeaKenyan description'
                            GlobalCommodityPriceIndexTimber:
                              type: number
                              description: 'GlobalCommodityPriceIndexTimber title : GlobalCommodityPriceIndexTimber description'
                            GlobalCommodityPriceIndexTin:
                              type: number
                              description: 'GlobalCommodityPriceIndexTin title : GlobalCommodityPriceIndexTin description'
                            GlobalCommodityPriceIndexTomato:
                              type: number
                              description: 'GlobalCommodityPriceIndexTomato title : GlobalCommodityPriceIndexTomato description'
                            GlobalCommodityPriceIndexUrea:
                              type: number
                              description: 'GlobalCommodityPriceIndexUrea title : GlobalCommodityPriceIndexUrea description'
                            GlobalCommodityPriceIndexWheat:
                              type: number
                              description: 'GlobalCommodityPriceIndexWheat title : GlobalCommodityPriceIndexWheat description'
                            GlobalCommodityPriceIndexWool:
                              type: number
                              description: 'GlobalCommodityPriceIndexWool title : GlobalCommodityPriceIndexWool description'
                            GlobalCommodityPriceIndexZinc:
                              type: number
                              description: 'GlobalCommodityPriceIndexZinc title : GlobalCommodityPriceIndexZinc description'
                  Cursor:
                    type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /fact/MarketIntel/Covid19CountryDaily:
    summary: Covid19CountryDaily title
    description: Covid19CountryDaily description
    get:
      tags:
        - Unknown
      summary: Covid19CountryDaily title
      description: Covid19CountryDaily description
      parameters:
        - $ref: '#/components/parameters/Token'
        - $ref: '#/components/parameters/Filters'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: object
                    properties:
                      Covid19CountryDailys:
                        type: array
                        items:
                          title: Covid19CountryDaily
                          type: object
                          properties:
                            Country:
                              type: integer
                              description: '(Filterable dimension attribute) Country title : Country description'
                            Day:
                              type: string
                              description: '(Filterable dimension attribute) Day title : Day description'
                              format: YYYY-MM-DD
                            CovidConfirmedCases:
                              type: number
                              description: 'CovidConfirmedCases title : CovidConfirmedCases description'
                            CovidConfirmedDeaths:
                              type: number
                              description: 'CovidConfirmedDeaths title : CovidConfirmedDeaths description'
                            CovidDailyConfirmedCases:
                              type: number
                              description: 'CovidDailyConfirmedCases title : CovidDailyConfirmedCases description'
                            CovidDailyConfirmedDeaths:
                              type: number
                              description: 'CovidDailyConfirmedDeaths title : CovidDailyConfirmedDeaths description'
                            CovidDailyVaccinationsComplete:
                              type: number
                              description: 'CovidDailyVaccinationsComplete title : CovidDailyVaccinationsComplete description'
                            CovidDailyVaccinationsPartial:
                              type: number
                              description: 'CovidDailyVaccinationsPartial title : CovidDailyVaccinationsPartial description'
                            CovidVaccinationPerHundredPeople:
                              type: number
                              description: 'CovidVaccinationPerHundredPeople title : CovidVaccinationPerHundredPeople description'
                            CovidVaccinationsComplete:
                              type: number
                              description: 'CovidVaccinationsComplete title : CovidVaccinationsComplete description'
                            CovidVaccinationsPartial:
                              type: number
                              description: 'CovidVaccinationsPartial title : CovidVaccinationsPartial description'
                            FacialCoveringsMandated:
                              type: number
                              description: 'FacialCoveringsMandated title : FacialCoveringsMandated description'
                            FacialCoveringsPolicyAbsent:
                              type: number
                              description: 'FacialCoveringsPolicyAbsent title : FacialCoveringsPolicyAbsent description'
                            FacialCoveringsRecommended:
                              type: number
                              description: 'FacialCoveringsRecommended title : FacialCoveringsRecommended description'
                            FacialCoveringsRequiredPublic:
                              type: number
                              description: 'FacialCoveringsRequiredPublic title : FacialCoveringsRequiredPublic description'
                            GatheringLargeRestricted:
                              type: number
                              description: 'GatheringLargeRestricted title : GatheringLargeRestricted description'
                            GatheringMediumRestricted:
                              type: number
                              description: 'GatheringMediumRestricted title : GatheringMediumRestricted description'
                            GatheringSmallRestricted:
                              type: number
                              description: 'GatheringSmallRestricted title : GatheringSmallRestricted description'
                            GatheringVeryLargeRestricted:
                              type: number
                              description: 'GatheringVeryLargeRestricted title : GatheringVeryLargeRestricted description'
                            InternalMovementDiscouraged:
                              type: number
                              description: 'InternalMovementDiscouraged title : InternalMovementDiscouraged description'
                            InternalMovementRestricted:
                              type: number
                              description: 'InternalMovementRestricted title : InternalMovementRestricted description'
                            InternationalTravelBanAll:
                              type: number
                              description: 'InternationalTravelBanAll title : InternationalTravelBanAll description'
                            InternationalTravelBanSome:
                              type: number
                              description: 'InternationalTravelBanSome title : InternationalTravelBanSome description'
                            InternationalTravelQuarantine:
                              type: number
                              description: 'InternationalTravelQuarantine title : InternationalTravelQuarantine description'
                            InternationalTravelScreened:
                              type: number
                              description: 'InternationalTravelScreened title : InternationalTravelScreened description'
                            PublicEventCancelMandated:
                              type: number
                              description: 'PublicEventCancelMandated title : PublicEventCancelMandated description'
                            PublicEventCancelRecommended:
                              type: number
                              description: 'PublicEventCancelRecommended title : PublicEventCancelRecommended description'
                            PublicInformationCampaignsAbsent:
                              type: number
                              description: 'PublicInformationCampaignsAbsent title : PublicInformationCampaignsAbsent description'
                            PublicInformationCampaignsbyOfficials:
                              type: number
                              description: 'PublicInformationCampaignsbyOfficials title : PublicInformationCampaignsbyOfficials description'
                            PublicInformationCoordinatedCampaigns:
                              type: number
                              description: 'PublicInformationCoordinatedCampaigns title : PublicInformationCoordinatedCampaigns description'
                            PublicTransportClosed:
                              type: number
                              description: 'PublicTransportClosed title : PublicTransportClosed description'
                            PublicTransportRestricted:
[...]
